mat-form-field{
    width:98%;
    margin-right: 15px;
}
.mat-column-ExamId,.mat-column-EvaluationMasterId{
    flex:1 1 300px;
}
.mat-column-EvaluationExamId,.mat-column-Action,.mat-column-Active{
    flex: 1 1 100px;
}