<div>
    <div style="padding:15px 15px 10px 15px;">
        <div><strong>Application Pricing</strong></div>
    </div>
    <mat-spinner *ngIf="loading" diameter="25" style="position:relative;margin-left: 50%;"></mat-spinner>
    <!-- <alert></alert> -->
    <div style="padding: 15px;" fxLayout="row wrap">
        <div style="width: 100%;">
            <form [formGroup]="searchForm" fxLayout="row" fxLayoutAlign="space-between center">
                <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="space-around center">
                    <mat-form-field appearance="outline">
                        <mat-label>Application</mat-label>
                        <mat-select formControlName="searchApplicationId">
                            <mat-option *ngFor="let item of Applications" [value]="item.MasterDataId">
                                {{item.Description}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button [disabled]="loading" matTooltip="search" class="mat-raised-button"
                        (click)="GetApplicationPrice()">
                        <mat-icon>search</mat-icon>
                    </button>
                </div>
            </form>
            <mat-table #table [dataSource]="dataSource">
                <ng-container matColumnDef="ApplicationName">
                    <mat-header-cell *matHeaderCellDef>Application
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element.ApplicationName}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="PCPM">
                    <mat-header-cell *matHeaderCellDef>PCPM
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <mat-form-field appearance="outline" [style.width.pc]="5">
                            <input type="number" (blur)="onBlur(element)" [(ngModel)]="element.PCPM" [value]="element.PCPM" matInput
                                autocomplete="off">
                        </mat-form-field>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="MinCount">
                    <mat-header-cell *matHeaderCellDef>Min Count
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <mat-form-field appearance="outline" [style.width.pc]="5">
                            <input type="number" (blur)="onBlur(element)" [(ngModel)]="element.MinCount" [value]="element.MinCount" matInput
                                autocomplete="off">
                        </mat-form-field>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="MinPrice">
                    <mat-header-cell *matHeaderCellDef>MinPrice
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <mat-form-field appearance="outline" [style.width.pc]="5">
                            <input type="number" (blur)="onBlur(element)" [(ngModel)]="element.MinPrice" [value]="element.MinPrice" matInput
                                autocomplete="off">
                        </mat-form-field>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="CurrencyId">
                    <mat-header-cell *matHeaderCellDef>Currency
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <mat-form-field appearance="outline" [style.width.pc]="5">
                            <mat-select (selectionChange)="onBlur(element)" [(ngModel)]="element.CurrencyId" [value]="element.CurrencyId">
                                <mat-option *ngFor="let item of Currencies" [value]="item.MasterDataId">
                                    {{item.MasterDataName}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Description">
                    <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <mat-form-field appearance="outline" [style.width.pc]="20">
                            <textarea (blur)="onBlur(element)" [(ngModel)]="element.Description" [value]="element.Description" matInput
                                autocomplete="off" [maxlength]="1000">
                            </textarea>
                        </mat-form-field>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Active">
                    <mat-header-cell *matHeaderCellDef> Active </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <mat-checkbox (click)="$event.stopPropagation()" (change)="updateActive(element,$event)"
                            [checked]="element.Active==1?true:false">
                        </mat-checkbox>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Action">
                    <mat-header-cell *matHeaderCellDef>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" fxLayoutAlign="space-between center" fxLayout="row">
                        <button [disabled]="loading || !element.Action" matTooltip="save" mat-mini-fab (click)="UpdateOrSave(element)">
                            <mat-icon>save</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></mat-row>
            </mat-table>
        </div>
    </div>
</div>