mat-form-field{
    width: 98%;
    margin-right: 15px;
}
.mat-column-StudentGradeId,
.mat-column-SubjectCategoryId,
.mat-column-GradeStatusId,
.mat-column-Points,
.mat-column-Sequence
{    
    flex:1 0 100px;
}
.mat-column-Active,
.mat-column-Action
{
    justify-content: center;
    flex:1 0 100px;

}
.mat-column-ClassGroupId,
.mat-column-GradeName,
.mat-column-Formula{
    flex:1 0 150px;
}
