<div>
    <div style="padding:15px 15px 0px 15px;">
        <div><strong>Salary Components</strong></div>
    </div>
    <mat-spinner *ngIf="loading" diameter="25" style="position:relative;margin-left: 50%;"></mat-spinner>
    <alert></alert>
    <div style="padding: 15px;" fxLayout="row wrap">
        <div style="width: 100%;">
            <form [formGroup]="searchForm">
                <mat-form-field appearance="outline">
                    <mat-label>Salary Component</mat-label>
                    <mat-select formControlName="searchComponentId">
                        <mat-option *ngFor="let item of SalaryComponents" [value]="item.MasterDataId">
                            {{item.MasterDataName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button [disabled]="loading" class="mat-raised-button" (click)="GetEmpComponents()">
                    <mat-icon>search</mat-icon>
                </button>
            </form>
            <mat-table #table [dataSource]="dataSource">
                <ng-container matColumnDef="SalaryComponent">
                    <mat-header-cell *matHeaderCellDef>Components
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element ">
                        {{element.SalaryComponent}}        
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="FormulaOrAmount">
                    <mat-header-cell *matHeaderCellDef>Formula/Amount
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element ">
                        <mat-form-field [style.width.px]="350" appearance="outline">
                            <textarea matInput 
                            [(value)]="element.FormulaOrAmount"
                                [(ngModel)]="element.FormulaOrAmount"></textarea>
                        </mat-form-field>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="LimitAmount">
                    <mat-header-cell *matHeaderCellDef>Exemption Limit
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element ">
                      <mat-form-field appearance="outline" [style.width.px]="100">
                        <input matInput autocomplete="Off"
                        [(value)]="element.LimitAmount"
                            [(ngModel)]="element.LimitAmount">
                    </mat-form-field>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Deduction">
                    <mat-header-cell *matHeaderCellDef>Deduction Component
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element ">
                        <mat-checkbox 
                        (click)="$event.stopPropagation()" 
                        (change)="updateDeduction(element,$event)"
                        [checked]="element.Deduction==1?true:false" >
                        </mat-checkbox>                        
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Active">
                    <mat-header-cell *matHeaderCellDef> Active </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <mat-checkbox (click)="$event.stopPropagation()" (change)="updateActive(element,$event)"
                            [checked]="element.Active==1?true:false">
                        </mat-checkbox>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Action">
                    <mat-header-cell *matHeaderCellDef>
                        <button [disabled]="loading" matTooltip="add new" mat-mini-fab (click)="addnew()">
                            <mat-icon>add</mat-icon>
                        </button>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" fxLayoutAlign="space-between center" fxLayout="row">
                        <button [disabled]="loading" matTooltip="save" mat-mini-fab (click)="UpdateOrSave(element)">
                            <mat-icon>save</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></mat-row>
            </mat-table>
        </div>

    </div>
</div>