mat-form-field{
    margin-right:15px;
    width: 98%;
}
button{
    margin-right:15px;
}
mat-cell:first-of-type {
    padding-left: 0px;
}

.mat-column-Description{
    flex:1 1 200px;
}
.mat-column-ClassEvalCategoryId
{
    flex:1 1 120px;
}
.mat-column-ClassId{   
    flex:1 1 100px;
}
.mat-column-DisplayOrder,
.mat-column-MultipleAnswer,
.mat-column-AnswerOptionId,
.mat-column-ClassEvaluationId,
.mat-column-Action,
.mat-column-Active
{   
    justify-content: center;
    flex:1 1 60px;
}
.highlight{
    background-color: lightgray; /* green */
  }