<mat-sidenav-container class="flex-container" autosize="true">
    <mat-sidenav mode="side" opened (click)="toggleSidebar()">
        <div mat-menu-item *ngFor="let i of sideMenu" [routerLink]="[i.Link]" class="with-icon padded"
            (click)="$event.stopPropagation()">
            <mat-icon [matTooltip]="i.Label">{{ i.FaIcon}}</mat-icon>&nbsp;
            <span [hidden]="collapse">{{i.Label}}</span>
        </div>
    </mat-sidenav>
    <mat-sidenav-content class="maincontent">
        <!-- <div class="content"> -->
        <router-outlet></router-outlet>
    <!-- </div> -->
    </mat-sidenav-content>
</mat-sidenav-container>
<!-- <div>
    <img height="400px" width="250px" src="../../../../assets/images/headerimg.svg">
</div> -->