<!-- <mat-toolbar [ngClass]="{'width81':!deviceXs,'width100':deviceXs}"> -->
<mat-toolbar>
    <mat-toolbar-row class="width100" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row wrap" fxLayoutAlign="start center">
            <!-- <button [disabled]="loading" mat-button (click)="toggleSideBar()">
                <mat-icon>menu</mat-icon>
            </button> -->
            <a [routerLink]="['/home/display/0/0/']"><img style="border-radius: 3px;" src="assets/images/ttplogo1.png"
                    alt="St Paul's Institute" width="50px" /></a>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <span class="rightside" *ngIf="!deviceXs">
                <button [disabled]="loading" mat-button (click)="contactus()">
                    <mat-icon>contact_support</mat-icon><span>Contact Us</span>
                </button>
            </span>
            <button [disabled]="loading" class="rightside" fxHide.xs mat-icon-button [matMenuTriggerFor]="menu"
                matTooltip="login">
                <mat-icon *ngIf="deviceXs">more_vert</mat-icon>
                <mat-icon *ngIf="!deviceXs">account_circle</mat-icon>
            </button>
            
            <mat-menu #menu="matMenu">
                <button [disabled]="loading" mat-menu-item *ngIf="!loggedIn" (click)="gotoLogin()">
                    <mat-icon>login</mat-icon>login
                </button>
                <button [disabled]="loading" mat-menu-item *ngIf="!loggedIn" (click)="createlogin()">
                    <mat-icon>create</mat-icon>Create login
                </button>
                <button [disabled]="loading" mat-menu-item *ngIf="loggedIn" (click)="addUser()">
                    <mat-icon>user</mat-icon>Add User
                </button>
                <button [disabled]="loading" mat-menu-item *ngIf="loggedIn" (click)="changepassword()">
                    <mat-icon>change_circle</mat-icon>Change password
                </button>
                <button [disabled]="loading" mat-menu-item *ngIf="loggedIn" (click)="logout()">
                    <mat-icon>logout</mat-icon>logout
                </button>
            </mat-menu>
        </div>
    </mat-toolbar-row>
    <!-- <mat-toolbar-row>hi</mat-toolbar-row> -->
    <!-- <mat-toolbar-row fxLayout="row" fxLayoutAlign="end center"
        fxLayoutGap="15px" style="background-color:lightgoldenrodyellow">
        <span style="margin-right: 10px;font-size:medium;color:black">
            <form [formGroup]="searchForm">
                <mat-form-field [style.width.px]="250">
                    <mat-select formControlName="searchApplicationId" (selectionChange)="ChangeApplication($event)">
                        <mat-option *ngFor="let item of PermittedApplications" [value]="item.applicationId">
                            {{item.applicationName}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field [style.width.px]="130">
                    <mat-select formControlName="searchBatchId" (selectionChange)="ChangeCurrentBatchId($event)">
                        <mat-option *ngFor="let item of Batches" [value]="item.BatchId">{{item.BatchName}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
        </span>
    </mat-toolbar-row> -->
    <mat-toolbar-row fxShow.gt-xs fxHide.gt-xs
        style="height: 70px !important;box-shadow: 3px 3px 3px var(--maincolor2);" fxLayout="row wrap"
        fxLayoutAlign="space-between center">
        <!-- <div style="padding-left: 70px;padding-bottom: 10px;" fxLayout="row" fxLayoutAlign="center center">             
           
            <span><strong>ST. PAUL'S INSTITUTE</strong></span>            
        </div> -->
        <!-- <button [disabled]="loading" mat-button (click)="newsNEvents()">
            <mat-icon>announcement</mat-icon><span style="color: white;">News & Events</span>
        </button> -->
        <button [disabled]="loading" mat-button (click)="contactus()">
            <mat-icon>contact_support</mat-icon><span>Contact Us</span>
        </button>
    </mat-toolbar-row>
</mat-toolbar>