<!-- <mat-toolbar [ngClass]="{'width81':!deviceXs,'width100':deviceXs}"> -->
<mat-toolbar class="width100">
    
    <mat-toolbar-row fxLayoutAlign="space-between center">
       <div style="padding: 20px;">
            <button mat-button (click)="toggleSideBar()">
                <mat-icon *ngIf="toggle">chevron_right</mat-icon>
                <mat-icon *ngIf="!toggle">chevron_left</mat-icon>
            </button>
            <button mat-button>
                <!-- <div class="container"> -->
                <a [routerLink]="[ '/']"><img src="assets/images/stpaulslogo.png" alt="St Paul's Institute"
                        width="110px" /></a>
                <!-- </div> -->
                <!-- <span class="logo1">ST. PAUL'S INSTITUTE</span><br>
                <span>Serve For Quality</span> -->
            </button>
           
        </div>
        <div *ngIf="!deviceXs">
            <button mat-button><span>Train up a child in the way he should go. -
                    Proverbs 22:16</span></button>
        </div>
        <div class="rightside">
            <span *ngIf="!deviceXs">
                <button mat-button (click)="contactus()">
                    <mat-icon>contact_support</mat-icon><span>Contact Us</span>
                </button>
            </span>
            <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="login">
                <mat-icon *ngIf="deviceXs">more_vert</mat-icon>
                <mat-icon *ngIf="!deviceXs">account_circle</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item *ngIf="!loggedIn" (click)="gotoLogin()">
                    <mat-icon>login</mat-icon>login
                </button>
                <button mat-menu-item *ngIf="loggedIn" (click)="createlogin()">
                    <mat-icon>create</mat-icon>Create login
                </button>
                <button mat-menu-item *ngIf="loggedIn" (click)="changepassword()">
                    <mat-icon>change_circle</mat-icon>Change password
                </button>
                <button mat-menu-item *ngIf="loggedIn" (click)="logout()">
                    <mat-icon>logout</mat-icon>logout
                </button>
            </mat-menu>
        </div>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="deviceXs" fxLayoutAlign="space-between end">
        <button mat-button (click)="newsNEvents()">
            <mat-icon>announcement</mat-icon><span style="color: white;">News & Events</span>
        </button>
        <button mat-button>
            <mat-icon>info</mat-icon>About Us
        </button>
        <button mat-button (click)="contactus()">
            <mat-icon>contact_support</mat-icon><span>Contact Us</span>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<!-- <mat-toolbar class="top">
    <mat-toolbar-row fxLayoutAlign="space-between end">
        <div class="item">
            <button mat-button (click)="toggleSideBar()">
                <mat-icon *ngIf="toggle">chevron_right</mat-icon>
                <mat-icon *ngIf="!toggle">chevron_left</mat-icon>
            </button>
            <button mat-button (click)="home()">
                <span *ngIf="deviceXs" style="color:white">ST. PAUL'S INSTITUTE</span>
            </button>
        </div>
        <div class="trainup" style="font-size: medium;height: 45px;">Train up a child in the way he should go. -
            Proverbs 22:16</div>
        <div class="rightside">
            <span>&nbsp;&nbsp;&nbsp;</span>
            <span style="font-size: small;" *ngIf="userName.length>0"> Hello,
                {{userName}}</span>

            <button mat-button (click)="newsNEvents()">
                <mat-icon>announcement</mat-icon><span style="color: white;">News & Events</span>
            </button>
            <button mat-button [matMenuTriggerFor]="contact">
                <mat-icon>contact_support</mat-icon>
            </button>
            <mat-menu #contact="matMenu">
                <button mat-menu-item (click)="contactus()">
                    <mat-icon>login</mat-icon>Contact Us
                </button>
            </mat-menu>
            <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="login">
                <mat-icon>account_circle</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item *ngIf="!loggedIn" (click)="gotoLogin()">
                    <mat-icon>login</mat-icon>login
                </button>
                <button mat-menu-item *ngIf="loggedIn" (click)="createlogin()">
                    <mat-icon>create</mat-icon>Create login
                </button>
                <button mat-menu-item *ngIf="loggedIn" (click)="changepassword()">
                    <mat-icon>change_circle</mat-icon>Change password
                </button>
                <button mat-menu-item *ngIf="loggedIn" (click)="logout()">
                    <mat-icon>logout</mat-icon>logout
                </button>
            </mat-menu>
        </div>
    
    </mat-toolbar-row>
</mat-toolbar> -->