<div>
    <div style="padding:15px 15px 10px 15px;">
        <div><strong>Certificates</strong></div>
    </div>
    <mat-spinner *ngIf="PageLoading" diameter="25" style="position:relative;margin-left: 50%;"></mat-spinner>
    <!-- <alert></alert> -->
    <div style="padding: 15px;" fxLayout="row wrap">
        <div style="width: 100%;">
            <form [formGroup]="searchForm">
                <mat-form-field appearance="outline">
                    <mat-label>Certificates</mat-label>
                    <mat-select formControlName="searchCertificateTypeId" #cerId (selectionChange)="CheckType()">
                        <mat-option *ngFor="let item of CertificateTypes" [value]="item.MasterDataId">
                            {{item.MasterDataName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" [style.width.px]="350">
                    <mat-label>Student</mat-label>
                    <input type="text" matInput (change)="clear()" formControlName="searchStudentName" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                        <mat-option *ngFor="let option of filteredStudents | async" [value]="option">
                            {{option.Name}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <div *ngIf="SportsCertificate">
                    <mat-form-field appearance="outline">
                        <mat-label>Group</mat-label>
                        <mat-select formControlName="searchStudentGroupId" (selectionChange)="clear()">
                            <mat-option value="0">select</mat-option>
                            <!-- <mat-optgroup *ngFor="let item of Groups" [label]="item.name" [disabled]="item.disabled"> -->
                                <mat-option *ngFor="let list of Houses" [value]="list.MasterDataId">
                                    {{list.MasterDataName}}
                                </mat-option>
                            <!-- </mat-optgroup> -->
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Activity</mat-label>
                        <mat-select formControlName="searchActivityId" (selectionChange)="clear()">
                            <mat-option value="0">select</mat-option>
                            <mat-option *ngFor="let item of ActivityNames" [value]="item.MasterDataId">
                                {{item.MasterDataName}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Category</mat-label>
                        <mat-select formControlName="searchCategoryId" (selectionChange)="SetSubCategory()">
                            <mat-option *ngFor="let item of ActivityCategory" [value]="item.MasterDataId">
                                {{item.MasterDataName}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Sub Category</mat-label>
                        <mat-select formControlName="searchSubCategoryId"  (selectionChange)="clear()">
                            <mat-option *ngFor="let item of ActivitySubCategory" [value]="item.MasterDataId">
                                {{item.MasterDataName}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Session</mat-label>
                        <mat-select formControlName="searchSessionId" (selectionChange)="clear()">
                            <mat-option value="0">select</mat-option>
                            <mat-option *ngFor="let item of ActivitySessions" [value]="item.MasterDataId">
                                {{item.MasterDataName}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <button [disabled]="loading" matTooltip="view" mat-raised-button color="accent"
                    (click)="GetCertificates()">
                    <mat-icon>search</mat-icon>
                    <mat-icon *ngIf="loading">
                        <mat-spinner diameter="20" color="Blue"></mat-spinner>
                    </mat-icon>
                </button>
                <button [disabled]="loading" matTooltip="issued certificates" mat-raised-button color="accent"
                    (click)="GetGeneratedCertificate()">
                    <mat-icon>format_list_bulleted</mat-icon>
                    <mat-icon *ngIf="loading">
                        <mat-spinner diameter="20" color="Blue"></mat-spinner>
                    </mat-icon>
                </button>
                <!-- <button [disabled]="loading" matTooltip="clear all" class="mat-raised-button" (click)="clear()">
                    <mat-icon>clear_all</mat-icon>
                </button> -->
            </form>
            <div *ngIf="SportsResultList.length>0">
                <mat-table [dataSource]="ActivityResultDataSource">
                    <ng-container *ngFor="let disCol of ActivityDisplayColumn; let colIndex = index"
                        matColumnDef="{{disCol}}">
                        <mat-header-cell *matHeaderCellDef>
                            {{disCol!='Action'?disCol:''}}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <button *ngIf="disCol=='Action'" [disabled]="loading || Permission=='read'"
                                matTooltip="view" mat-mini-fab (click)="View(element)">
                                <mat-icon>pageview</mat-icon>
                                <mat-icon *ngIf="loading">
                                    <mat-spinner diameter="20" color="Blue"></mat-spinner>
                                </mat-icon>
                            </button>
                            <span *ngIf="disCol!='Action'">{{element[disCol]}}</span>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="ActivityDisplayColumn"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: ActivityDisplayColumn;"></mat-row>
                </mat-table>
                <mat-paginator [pageSizeOptions]="[10,20,50]" style="display:flex;justify-content:center">
                </mat-paginator>
            </div>
            <div *ngIf="GeneratedCertificatelist.length>0">
                <mat-table #table style="overflow: auto;" [dataSource]="dataSource">
                    <ng-container *ngFor="let disCol of DisplayColumn; let colIndex = index" matColumnDef="{{disCol}}">
                        <mat-header-cell *matHeaderCellDef>
                            {{disCol!='Action'?disCol:''}}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element[disCol]}}
                            <!-- <span *ngIf="disCol!='Action'">{{element[disCol]}}</span> -->
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="DisplayColumn"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: DisplayColumn;" class="element-row"></mat-row>
                </mat-table>
                <mat-paginator [pageSizeOptions]="[10,20,50]" style="display:flex;justify-content:center">
                </mat-paginator>
            </div>
            <div id="printSection" *ngIf="GeneratedCertificatelist.length==0">
                <mat-table class="border radial-repeating" [dataSource]="dataSource">
                    <ng-container *ngFor="let disCol of displayedColumns; let colIndex = index"
                        matColumnDef="{{disCol}}">
                        <mat-header-cell *matHeaderCellDef style="border-right:0px">
                        </mat-header-cell>
                        <mat-cell style="border-right:0px;justify-content: center;" *matCellDef="let element"
                            [innerHTML]="element[disCol] | encodeHTML">
                            <!-- <span [ngStyle]="element['Logic']" ></span>                               -->
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></mat-row>
                </mat-table>
            </div>
            <br>
            <div fxLayout="row" fxLayoutAlign="center center">
                <button [disabled]="loading || Permission=='read' || CertificateElements.length==0" matTooltip="save"
                    mat-raised-button color="accent" (click)="Save()">
                    <mat-icon>save</mat-icon>
                    <mat-icon *ngIf="loading">
                        <mat-spinner diameter="20" color="Blue"></mat-spinner>
                    </mat-icon>
                </button>
                <!-- <button [disabled]="loading || Permission=='read' || CertificateElements.length==0" mat-raised-button
                    (click)="print()"
                    color="accent" matTooltip="print">
                    <mat-icon>print</mat-icon>
                </button>(click)="Save()" -->
                <button 
                    [disabled]="loading || Permission=='read' || CertificateElements.length==0" matTooltip="print"
                    printSectionId="printSection" styleSheetFile="assets/print.scss" ngxPrint mat-raised-button
                    color="accent">
                    <mat-icon>print</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>