<div>
    <p>You selected: {{ selected }}</p>

    <div class="demo-menu">

        <div class="menu-section">
            <p>Table-driven Menu</p>
            <mat-toolbar>
                <button [disabled]="loading" mat-icon-button [matMenuTriggerFor]="tabledriven">
                    <mat-icon>more_vert</mat-icon>
                </button>
            </mat-toolbar>
            <mat-menu #tabledriven="matMenu">
                <ng-container *ngFor="let item of menuItems">
                    <button [disabled]="loading" *ngIf="!item.elementRef" mat-menu-item (click)="select(item.text)">{{ item.text
                        }}</button>
                    <button [disabled]="loading" *ngIf=item.elementRef mat-menu-item [matMenuTriggerFor]=item.elementRef>{{ item.text
                        }}</button>
                </ng-container>
            </mat-menu>
        </div>

        <mat-menu #submenu="matMenu">
            <button [disabled]="loading" mat-menu-item (click)="select('Submenu.Item1')">Submenu.Item1</button>
            <button [disabled]="loading" mat-menu-item (click)="select('Submenu.Item2')">Submenu.Item2</button>
        </mat-menu>
    </div>
</div>