:host{
  width: 100%;
  
}
mat-card{
  background-color: #20639b;
  //top:35px;
}

.carousel-caption{
  color:black;
}
mat-card-subtitle{
  display: flex;
  justify-content:center;
}

ngb-carousel, .single {
  width: 100vh;
  height: 50vh;
  object-fit:cover;
  border-radius: 1rem;
  
  }
  *:focus{
    outline: none;
  }
  