<div class="container">
    <div style="padding:15px 15px 0px 15px;">
        <div><strong>Exam Slots</strong></div>
    </div>
    <mat-spinner *ngIf="loading" diameter="50" style="position:relative;margin-left: 50%;"></mat-spinner>
    <alert></alert>
    <div style="padding: 15px;" fxLayout="row wrap">
        <div style="width: 100%;">
            <form [formGroup]="searchForm">
                <mat-form-field appearance="outline">
                    <mat-label>Exam</mat-label>
                    <mat-select formControlName="searchExamId">
                        <mat-option *ngFor="let item of Exams" [value]="item.ExamId">
                            {{item.ExamName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>                
                <button class="mat-raised-button" (click)="GetExamSlots()">
                    <mat-icon>search</mat-icon>
                </button>
                <!-- <button matTooltip="clear all" class="mat-raised-button" (click)="clear()">
                    <mat-icon>clear_all</mat-icon>
                </button> -->
            </form>
            <mat-table #table [dataSource]="dataSource">
                <ng-container matColumnDef="ExamId">
                    <mat-header-cell style="display: flex;justify-content: center;" *matHeaderCellDef>Exam
                    </mat-header-cell>
                    <mat-cell style="display: flex;justify-content: center;" *matCellDef="let element">
                        {{element.ExamName}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="SlotNameId">
                    <mat-header-cell style="display: flex;justify-content: center;" *matHeaderCellDef>Slot Name
                    </mat-header-cell>
                    <mat-cell style="display: flex;justify-content: center;" *matCellDef="let element">
                        <mat-form-field [style.width.px]="150">
                            <mat-select [(value)]="element.SlotNameId" [(ngModel)]="element.SlotNameId">
                                <mat-option *ngFor="let item of SlotNames" [value]="item.MasterDataId">
                                    {{item.MasterDataName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="ExamDate">
                    <mat-header-cell *matHeaderCellDef> Exam Date </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <mat-form-field appearance="legacy" [style.width.px]="200">
                            <mat-label>Start Date</mat-label>
                            <input [(ngModel)]="element.ExamDate" [(value)]="element.ExamDate" matInput
                                [matDatepicker]="ExamDate" autocomplete="off">
                            <mat-datepicker-toggle matSuffix [for]="ExamDate"></mat-datepicker-toggle>
                            <mat-datepicker #ExamDate></mat-datepicker>
                        </mat-form-field>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="StartTime">
                    <mat-header-cell *matHeaderCellDef> Start Time </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <mat-form-field appearance="legacy" [style.width.px]="200">
                            <mat-label>Start Time</mat-label>
                            <input [(value)]="element.StartTime" [(ngModel)]="element.StartTime" matInput
                                autocomplete="off">

                        </mat-form-field>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="EndTime">
                    <mat-header-cell *matHeaderCellDef> End Time </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <mat-form-field appearance="legacy" [style.width.px]="200">
                            <mat-label>End Time</mat-label>
                            <input [(value)]="element.EndTime" [(ngModel)]="element.EndTime" matInput
                               autocomplete="off">
                            
                        </mat-form-field>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Active">
                    <mat-header-cell *matHeaderCellDef> Active </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <mat-checkbox (click)="$event.stopPropagation()" (change)="updateActive(element,$event)"
                            [checked]="element.Active==1?true:false">
                        </mat-checkbox>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Action">
                    <mat-header-cell *matHeaderCellDef>
                        <!-- <button matTooltip="add new" mat-mini-fab (click)="addnew()">
                            <mat-icon>add</mat-icon>
                        </button> -->
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" fxLayoutAlign="space-between center" fxLayout="row">
                        <button matTooltip="view/edit" mat-mini-fab (click)="UpdateOrSave(element)">
                            <mat-icon>save</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></mat-row>
            </mat-table>
        </div>

    </div>
</div>