<mat-card>
    <mat-card-title>Class Master</mat-card-title>
    <mat-card-subtitle>&nbsp;</mat-card-subtitle>
    <mat-card-content>
        <mat-spinner *ngIf="loading" diameter="25" style="position:relative;margin-left: 50%;"></mat-spinner>
        <alert></alert>
        <form [formGroup]="searchForm">
            <mat-form-field>
                <mat-label>Class</mat-label>
                <mat-select formControlName="searchClassId">
                    <mat-option [value]="0">select class</mat-option>
                    <mat-option *ngFor="let item of Classes" [value]="item.MasterDataId">
                        {{item.MasterDataName}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field [style.width.pc]="25">
                <mat-label>Teacher</mat-label>
                <input type="text" matInput formControlName="searchTeacherId" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option.TeacherName}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <button [disabled]="loading" class="mat-raised-button" (click)="GetClassTeacher()">
                <mat-icon>search</mat-icon>
            </button>
            <!-- <button [disabled]="loading" matTooltip="clear all" class="mat-raised-button" (click)="clear()">
                <mat-icon>clear_all</mat-icon>
            </button> -->
        </form>
        <mat-table #table [dataSource]="dataSource">
            <!-- <ng-container matColumnDef="ClassSubjectId">
                <mat-header-cell style="display: flex;justify-content: center;" *matHeaderCellDef>Id
                </mat-header-cell>
                <mat-cell style="display: flex;justify-content: center;" *matCellDef="let element">
                    {{element.ClassSubjectId}}                    
                </mat-cell>
            </ng-container> -->
            <!-- <ng-container matColumnDef="Teacher">
                <mat-header-cell style="display: flex;justify-content: center;" *matHeaderCellDef>Teacher
                </mat-header-cell>
                <mat-cell style="display: flex;justify-content: center;" *matCellDef="let element">
                    {{element.Teacher}}
                </mat-cell>
            </ng-container> -->
            <ng-container matColumnDef="ClassName">
                <mat-header-cell *matHeaderCellDef> Class </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{element.ClassName}}
                    <!-- <mat-form-field>
                        <mat-label>Class</mat-label>
                        <mat-select (selectionChange)="onBlur(element)" [(value)]="element.ClassId" [(ngModel)]="element.ClassId">
                            <mat-option *ngFor="let item of Classes" [value]="item.MasterDataId">
                                {{item.MasterDataName}}</mat-option>
                        </mat-select>
                    </mat-form-field> -->
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Section">
                <mat-header-cell *matHeaderCellDef> Section </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{element.Section}}
                    <!-- <mat-form-field>
                        <mat-label>Section</mat-label>
                        <mat-select (selectionChange)="onBlur(element)" [(value)]="element.SectionId" [(ngModel)]="element.SectionId">
                            <mat-option *ngFor="let item of Sections" [value]="item.MasterDataId">
                                {{item.MasterDataName}}</mat-option>
                        </mat-select>
                    </mat-form-field> -->
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="TeacherId">
                <mat-header-cell style="display: flex;justify-content: center;" *matHeaderCellDef>Teacher
                </mat-header-cell>
                <mat-cell style="display: flex;justify-content: center;" *matCellDef="let element">
                    <mat-form-field [style.width.pc]="25">
                        <mat-label>Teacher</mat-label>
                        <mat-select (selectionChange)="onBlur(element)" [(ngModel)]="element.TeacherId">
                            <mat-option *ngFor="let option of Teachers" [value]="option.TeacherId">
                                {{option.TeacherName}}
                            </mat-option>
                            </mat-select>
                    </mat-form-field>
                </mat-cell>
            </ng-container>
            <!-- <ng-container matColumnDef="ClassSubjectId">
                <mat-header-cell *matHeaderCellDef> Class Subject </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <mat-form-field>
                        <mat-label>Class Subject</mat-label>
                        <mat-select [(value)]="element.ClassSubjectId" [(ngModel)]="element.ClassSubjectId">
                            <mat-option *ngFor="let item of ClassSubjects" [value]="item.ClassSubjectId">
                                {{item.ClassSubject}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-cell>
            </ng-container> -->
            <ng-container matColumnDef="Active">
                <mat-header-cell *matHeaderCellDef> Active </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="updateActive(element,$event)"
                        [checked]="element.Active==1?true:false">
                    </mat-checkbox>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Action">
                <mat-header-cell *matHeaderCellDef>
                    <!-- <button [disabled]="loading" matTooltip="new item" class="mat-raised-button" (click)="addnew()"
                        fxFlex="10">
                        <mat-icon>add</mat-icon>
                    </button> -->
                </mat-header-cell>
                <mat-cell *matCellDef="let element" fxLayoutAlign="space-between center" fxLayout="row">
                    <button [disabled]="loading || CheckPermission=='read' || !element.Action" matTooltip="save" mat-mini-fab
                        (click)="UpdateOrSave(element)">
                        <mat-icon>save</mat-icon>
                    </button>

                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></mat-row>
        </mat-table>

    </mat-card-content>
</mat-card>