// :host{
//     display: flex;
//     justify-content: center;
//     min-height: 91vh;
//     background-color:white;    
// }
.mat-card{
    position: relative;
    height: 91vh;
    margin: 0px 10px 10px 10px;
    //width: 100%;
}

mat-form-field{
    margin-right: 20px;
    padding: 5px;
}
button{
    margin-right: 20px;
    outline: none;
}
mat-header-cell{
    display: grid;
    justify-content: center;
}
.mat-cell,.mat-header-cell{
    border-collapse: collapse;
    border-width: 0px 1px 0px 0px;
    border-color: lightgray;
    border-style: solid;
    padding: 5px;    
    
}
.mat-column-ClassName{
    flex : none;
    width: 100px;
    display:grid;
    text-align: center;
    
}
.mat-column-PID,.mat-column-Active,.mat-column-StudentId{
    flex:1 1 80px;
}
.mat-column-Action,.mat-column-ClassName,.mat-column-Name,
.mat-column-Remarks,.mat-column-FeeType,
.mat-column-FatherName,.mat-column-MotherName,.mat-column-ReasonForLeaving{
    justify-content: center;
    flex: 1 1 120px;
}
table{
    min-width: 300px;
}
.mat-row:hover {
    background-color:lightgray;
  }
  .highlight{
    background: #42A948; /* green */
  }