<mat-card>
    <mat-card-title style="margin:20px">Student</mat-card-title>
    <mat-card-subtitle>&nbsp;</mat-card-subtitle>
    <mat-card-content style="margin:20px">
        <!-- <alert></alert> -->
        <mat-spinner *ngIf="loading" diameter="25" style="position:relative;margin-left: 50%;"></mat-spinner>
        <form [formGroup]="studentSearchForm" fxLayout="row wrap" fxLayoutAlign="center center">
           
            <mat-form-field appearance="outline" style="width: 100px;">
                <mat-label>Id</mat-label>
                <input formControlName="searchStudentId" autocomplete="Off" matInput [maxlength]="10">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Father</mat-label>
                <input type="text" matInput formControlName="FatherName" [matAutocomplete]="autoF">
                <mat-autocomplete #autoF="matAutocomplete" [displayWith]="displayFnF">
                 <!-- <cdk-virtual-scroll-viewport itemSize="25"> -->
                    <mat-option *ngFor="let option of filteredFathers | async" [value]="option">
                        {{option.FatherName}}
                    </mat-option>
                <!-- </cdk-virtual-scroll-viewport> -->
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Mother</mat-label>
                <input type="text" matInput formControlName="MotherName" [matAutocomplete]="autoM">
                <mat-autocomplete #autoM="matAutocomplete" [displayWith]="displayFnM">
                    <mat-option *ngFor="let option of filteredMothers | async" [value]="option">
                        {{option.MotherName}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field appearance="outline" [style.width.px]="350">
                <mat-label>Student</mat-label>
                <input type="text" matInput formControlName="searchStudentName" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let option of filteredStudents | async" [value]="option">
                        {{option.Name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <button [disabled]="loading" class="mat-raised-button" (click)="GetStudent()">
                <mat-icon>search</mat-icon>
            </button>
            <button [disabled]="loading" class="mat-raised-button" (click)="new()">
                <mat-icon>fiber_new</mat-icon>
            </button>
        </form>
        <br>
        <div class="example-container mat-elevation-z8">
            <mat-table #table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="Action">
                    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <button [disabled]="loading" matTooltip="Details" mat-mini-fab (click)="view(element)">
                            <mat-icon>pageview</mat-icon>
                        </button>
                        &nbsp;
                        <button [disabled]="loading || element.ClassName==''" matTooltip="Fees" mat-mini-fab (click)="feepayment(element)">
                            <mat-icon>payments</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="StudentId" [style.width.px]="30">
                    <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.StudentId}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element.Name}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="ClassName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Class </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element.ClassName}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="FatherName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Father's Name </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element.FatherName}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="MotherName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Mother's Name </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element.MotherName}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="ReasonForLeaving">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Reason For Leaving </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element.ReasonForLeaving}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Active">
                    <mat-header-cell *matHeaderCellDef> Active </mat-header-cell>
                    <mat-cell style="justify-content: center;" *matCellDef="let element">
                        {{element.Active==1?'Yes':'No'}}
                        <!-- <mat-checkbox [checked]="element.Active" (click)="$event.stopPropagation()">
                        </mat-checkbox> -->
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"
                    [ngClass]="{ 'highlight': row.ReasonForLeaving.toLowerCase() == 'admitted and left' }">
                </mat-row>
            </mat-table>
            <mat-paginator [pageSizeOptions]="[10,25,50]"></mat-paginator>
        </div>
    </mat-card-content>
    <!-- <mat-card-actions fxLayoutAlign="center center">
        <button [disabled]="loading" (click)="exportArray()" matTooltip="export to excel" class="mat-raised-button">
            <mat-icon>download</mat-icon>
        </button>
    </mat-card-actions> -->
</mat-card>