<mat-card>
    <mat-card-title>
        Upload Files
    </mat-card-title>
    <mat-card-content>
        <br>
        <alert></alert>
        <mat-spinner *ngIf="Processing" diameter="50" style="position:relative;margin-left: 50%;"></mat-spinner>
        <div class="center">
            <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)"
                (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
                <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                    drag and drop files here
                    <!-- <button type="button" (click)="openFileSelector()">Browse Files</button> -->
                </ng-template>
            </ngx-file-drop>
            <br>
            <div *ngIf="files.length>0">
                <form [formGroup]="dragdropForm">
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <mat-form-field hintLabel="Max 100 characters" appearance="outline" fxFlex="60">
                            <mat-label>Enter folder</mat-label>
                            <input formControlName="folderName" #album matInput maxlength="100" autocomplete="off">
                            <mat-hint align="end">{{album.value?.length || 0}}/100</mat-hint>
                        </mat-form-field>
                        <span style="margin:5px">or</span>
                        <mat-form-field appearance="outline" fxFlex="30">
                            <mat-label>Existing albums</mat-label>
                            <mat-select formControlName="parentId">
                                <mat-option *ngFor="let album of Albums" [value]="album.FileId">
                                    {{album.UpdatedFileFolderName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="upload-table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                </tr>

                            </thead>
                            <tbody class="upload-name-style">
                                <tr *ngFor="let item of files; let i=index">
                                    <td>{{ item.relativePath }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <button [disabled]="Processing" class="mat-raised-button" matTooltip="upload" type="button"
                            (click)="Upload()" fxFlex="5">
                            <mat-icon>file_upload</mat-icon>
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </mat-card-content>
</mat-card>