mat-form-field{
    flex:1 1 100%;
    margin-right: 15px;
    
}

.mat-column-DisplayName,.mat-column-Formula,.mat-column-ReportName,.mat-column-TableNames{
    flex: 1 1 200px;
}
.mat-column-ColumnSequence{
    flex:1 1 50px;
}
.mat-column-Active{
    justify-content: center;
}