mat-form-field{
    position: relative;
    margin-right: 15px;
}
ckeditor{
   // height: 100%;
    width: 100%;
}
button{
    width:10em;
}
// mat-card{
//     height:100%;
// }
button{
    margin-right: 5px;
}
.mat-icon {
    vertical-align: middle;
 }
.row{
    margin: 2px;
}
mat-card{
    background-color: rgb(255, 255, 255,.9);;// #20639b;
    border-radius: 1em;
    margin-top: 10px;
}