<mat-card>
    <mat-card-title>Student</mat-card-title>
    <mat-card-subtitle>&nbsp;</mat-card-subtitle>
    <mat-card-content>
        <alert></alert>
        <form [formGroup]="studentSearchForm" fxLayout="row wrap" fxLayoutAlign="center center">
            <mat-form-field fxFlex appearance="outline">
                <mat-label>Batch</mat-label>
                <mat-select formControlName="BatchId" #BatchId (selectionChange)="UpdateSelectedBatchId($event.value)">
                    <mat-option value="0">--select--</mat-option>
                    <mat-option *ngFor="let master of Batches" [value]="master.MasterDataId">
                        {{master.MasterDataName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Admission Id</mat-label>
                <input formControlName="StudentId" autocomplete="Off" matInput maxlength="5">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input formControlName="Name" autocomplete="Off" matInput maxlength="50">
            </mat-form-field>            
            <mat-form-field appearance="outline">
                <mat-label>Father</mat-label>
                <input formControlName="FatherName" autocomplete="Off" matInput maxlength="50">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Mother</mat-label>
                <input formControlName="MotherName" autocomplete="Off" matInput maxlength="50">
            </mat-form-field>
            <button class="mat-raised-button" (click)="GetStudent()">
                <mat-icon>search</mat-icon>
            </button>
            <button class="mat-raised-button" (click)="new()">
                <mat-icon>fiber_new</mat-icon>
            </button>
        </form>
        <br>
        <div class="example-container mat-elevation-z8">
            <mat-table #table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="StudentId" [style.width.px]="30">
                    <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.StudentId}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element.Name}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="ClassName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Class </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element.ClassName}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="FatherName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Father's Name </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element.FatherName}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="MotherName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Mother's Name </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element.MotherName}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="ReasonForLeaving">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Reason For Leaving </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element.ReasonForLeaving}}
                    </mat-cell>
                </ng-container>            
                <ng-container matColumnDef="Active">
                    <mat-header-cell *matHeaderCellDef> Active </mat-header-cell>
                    <mat-cell style="justify-content: center;" *matCellDef="let element">
                        {{element.Active==1?'Yes':'No'}}
                        <!-- <mat-checkbox [checked]="element.Active" (click)="$event.stopPropagation()">
                        </mat-checkbox> -->
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Action">
                    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                    <mat-cell *matCellDef="let element">                        
                        <button matTooltip="Details" mat-mini-fab (click)="view(element)">
                            <mat-icon>pageview</mat-icon>
                        </button>                     
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{ 'highlight': row.ReasonForLeaving.toLowerCase() == 'admitted and left' }"></mat-row>
            </mat-table>
            <mat-paginator [pageSizeOptions]="[10,25,50]"></mat-paginator>
        </div>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center center">
        <button (click)="exportArray()" matTooltip="export to excel" class="mat-raised-button">
            <mat-icon>download</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>