<div>
    <div style="padding:15px 15px 10px 15px;">
        <div><strong>Stduent Profile</strong></div>
    </div>
    <mat-spinner *ngIf="loading" diameter="25" style="position:relative;margin-left: 50%;"></mat-spinner>
    <!-- <alert></alert> -->
    <div style="padding: 15px;">
        <div style="width: 100%;">
            <form [formGroup]="searchForm">
                <mat-form-field appearance="outline" [style.width.px]="150">
                    <mat-label>Evaluation Type</mat-label>
                    <mat-select formControlName="searchEvaluationTypeId">
                        <mat-option *ngFor="let item of EvaluationTypes" [value]="item.MasterDataId">
                            {{item.MasterDataName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <!-- <mat-form-field appearance="outline" [style.width.px]="150">
                    <mat-label>Class</mat-label>
                    <mat-select formControlName="searchClassId" (selectionChange)="GetSelectedClassSubject()">
                        <mat-option *ngFor="let item of Classes" [value]="item.ClassId">{{item.ClassName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field> -->
                <mat-form-field appearance="outline" [style.width.px]="150">
                    <mat-label>Subject</mat-label>
                    <mat-select formControlName="searchSubjectId">
                        <mat-option value="0">select</mat-option>
                        <mat-option *ngFor="let item of SelectedClassSubjects" [value]="item.SubjectId">
                            {{item.SubjectName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" [style.width.px]="200">
                    <mat-label>Exam/Test</mat-label>
                    <mat-select formControlName="searchExamId">
                        <mat-option value="0">select</mat-option>
                        <mat-option *ngFor="let item of Exams" [value]="item.ExamId">{{item.ExamName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button [disabled]="loading" mat-raised-button color="accent" (click)="GetStudentEvaluation()">
                    <mat-icon>search</mat-icon>
                </button>
            </form>
            <mat-table #table [dataSource]="dataSource">
                <ng-container matColumnDef="StudentEvaluationId">
                    <mat-header-cell *matHeaderCellDef>Id
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element.StudentEvaluationId}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Description">
                    <mat-header-cell *matHeaderCellDef>Description
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element"
                        style="display:flex; flex-direction: column;justify-content: start;">
                        <span style="width: 100%;padding: 15px 15px 10px 0px;"> {{element.Description}}</span>
                        <span style="width: 100%;" *ngIf="element.ClassEvaluationOptions.length==0">
                            <mat-form-field appearance="outline" style="width:100%">
                                <textarea #input matInput [disabled]="element.RatingId>0" [maxlength]="1000"
                                    (blur)="onBlur(element)" [value]="element.Detail"
                                    [(ngModel)]="element.Detail"></textarea>
                            </mat-form-field>
                            <mat-hint style="display:flex;justify-content: flex-end;">{{input.value?.length || 0}}/1000
                            </mat-hint>
                        </span>
                    </mat-cell>
                </ng-container>
                <!-- <ng-container matColumnDef="Detail">
                    <mat-header-cell *matHeaderCellDef>Teacher's Comment
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <mat-form-field appearance="outline">
                            <textarea matInput [disabled]="element.RatingId>0" [maxlength]="1000"
                                (blur)="onBlur(element)" [value]="element.Detail"
                                [(ngModel)]="element.Detail"></textarea>
                        </mat-form-field>
                    </mat-cell>
                </ng-container> -->
                <ng-container matColumnDef="RatingId">
                    <mat-header-cell *matHeaderCellDef>Assessment
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span *ngIf="element.MultipleAnswer==1">                            
                            <mat-checkbox *ngFor="let item of element.ClassEvaluationOptions;let i=index"
                                (click)="$event.stopPropagation()" 
                                name="options_{{i}}" 
                                [value]="item.AnswerOptionsId"
                                [checked] ="item.checked"                                
                                [(ngModel)]="item.AnswerOptionsId" 
                                (change)="UpdateAnswers(element,item,$event,i)">
                            </mat-checkbox>
                        </span>
                        <span *ngIf="element.MultipleAnswer==0">
                            <mat-radio-group [(ngModel)]="element.RatingId">
                                <mat-radio-button style="margin-right: 15px;"
                                    *ngFor="let item of element.ClassEvaluationOptions;let i=index" (change)="UpdateRadio(element,item)"
                                    [value]="item.AnswerOptionsId">
                                    {{item.Title}}
                                </mat-radio-button>
                            </mat-radio-group>
                        </span>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Active">
                    <mat-header-cell *matHeaderCellDef style="justify-content: center;">Active
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" style="justify-content: center;">
                        <mat-checkbox (click)="$event.stopPropagation()" (change)="UpdateActive(element,$event)"
                            [checked]="element.Active==1?true:false">
                        </mat-checkbox>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Action">
                    <mat-header-cell *matHeaderCellDef>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" fxLayoutAlign="space-between center" fxLayout="row">
                        <button [disabled]="loading || !element.Action || Permission=='read'" matTooltip="save"
                            mat-mini-fab (click)="UpdateOrSave(element)">
                            <mat-icon>save</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;let indx=index" class="element-row"
                    style="align-items: center;"></mat-row>
            </mat-table>
        </div>

    </div>
</div>