<div>
    <div style="padding:15px 15px 10px 15px;">
        <div><strong>Stduent Profile</strong></div>
    </div>
    <mat-spinner *ngIf="loading" diameter="25" style="position:relative;margin-left: 50%;"></mat-spinner>
    <!-- <alert></alert> -->
    <div style="padding: 15px;">
        <div style="width: 100%;">
            <form [formGroup]="searchForm">
                <mat-form-field appearance="outline" [style.width.px]="150">
                    <mat-label>Category</mat-label>
                    <mat-select formControlName="searchCategoryId" (selectionChange)="SelectSubCategory($event)">
                        <mat-option *ngFor="let item of Categories" [value]="item.MasterDataId">{{item.MasterDataName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" [style.width.px]="150">
                    <mat-label>Sub Category</mat-label>
                    <mat-select formControlName="searchSubCategoryId">
                        <mat-option *ngFor="let item of SubCategories" [value]="item.MasterDataId">{{item.MasterDataName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" [style.width.px]="200">
                    <mat-label>Profile Name</mat-label>
                    <input type="text" matInput formControlName="searchProfileName" autoComplete="Off" [maxlength]="256">
                </mat-form-field>
    
                <button [disabled]="loading" class="mat-raised-button" (click)="GetStudentEvaluation()">
                    <mat-icon>search</mat-icon>
                </button>                
            </form>
            <!-- <div *ngFor="let item in Categories">
                   <span style="font-size: large;">{{item.MasterDataName}}</span>
                   <li *ngFor="let inner of StudentEvaluationList|myfilter:item">
                       {{inner.Description}}
                   </li>
            </div> -->
            <mat-table #table [dataSource]="dataSource">               
                <ng-container matColumnDef="StudentEvaluationId">
                    <mat-header-cell *matHeaderCellDef>Id
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element.StudentEvaluationId}}
                    </mat-cell>
                </ng-container>
                <!-- <ng-container matColumnDef="CategoryName">
                    <mat-header-cell *matHeaderCellDef>Category
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element.CategoryName}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="SubCategoryName">
                    <mat-header-cell *matHeaderCellDef>Sub Category
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element.SubCategoryName}}
                    </mat-cell>
                </ng-container> -->
                <ng-container matColumnDef="Description">
                    <mat-header-cell *matHeaderCellDef>Description
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                           {{element.Description}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Detail">
                    <mat-header-cell *matHeaderCellDef>Teacher's Comment
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <mat-form-field appearance="outline">
                            <textarea matInput
                            [disabled]="element.RatingId>0" 
                            [maxlength]="1000"
                            (blur)="onBlur(element)"
                            [value]="element.Detail"  
                            [(ngModel)]="element.Detail"></textarea>
                        </mat-form-field>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="RatingId">
                    <mat-header-cell *matHeaderCellDef>Rating
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                          <mat-radio-group [(ngModel)]="element.RatingId" [value]="element.RatingId">
                              <mat-radio-button *ngFor="let item of element.Ratings" 
                              (change)="onBlur(element)"
                              [checked]="element.RatingId==item.MasterDataId" 
                              [value]="item.MasterDataId">
                                {{item.MasterDataName}}
                                </mat-radio-button>
                          </mat-radio-group>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Active">
                    <mat-header-cell *matHeaderCellDef style="justify-content: center;">Active
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" style="justify-content: center;">
                        <mat-checkbox (click)="$event.stopPropagation()" (change)="UpdateActive(element,$event)"
                            [checked]="element.Active==1?true:false">
                        </mat-checkbox>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Action">
                    <mat-header-cell *matHeaderCellDef>                        
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" fxLayoutAlign="space-between center" fxLayout="row">
                        <button [disabled]="loading || !element.Action || Permission=='read'" matTooltip="save" mat-mini-fab (click)="UpdateOrSave(element)">
                            <mat-icon>save</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row" style="align-items: center;"></mat-row>
            </mat-table>
        </div>

    </div>
</div>