mat-form-field{
    margin-right:15px;
    width: 99%;
}
button{
    margin-right:15px;
}
mat-cell:first-of-type {
    padding-left: 0px;
}

.mat-column-ActivityDate, .mat-column-CategoryId,.mat-column-SubCategoryId{
    flex:0 0 150px;
}
.mat-column-Action,.mat-column-Active
{
    justify-content: center;
    flex:0 0 100px;
}
.mat-column-Activity{
    flex:0 0 400px;
}