<mat-card>
  <div class="text-right"><a class="text-right" class="mat-raised-button" [routerLink]="[ '/dragdrop']">Drag and drop
      image</a></div>
  <mat-card-title>Crop and Upload Image</mat-card-title>
  <mat-card-content>
    <form [formGroup]="UploadForm" *ngIf="UploadForm">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-form-field hintLabel="Max 50 characters" appearance="outline" [style.width.pc]=23>
          <mat-label>Enter album</mat-label>
          <input formControlName="UpdatedFileFolderName" #album matInput maxlength="50" autocomplete="off">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Existing albums</mat-label>
          <mat-select formControlName="parentId">
            <mat-option *ngFor="let album of Albums" [value]="album.FileId">{{album.UpdatedFileFolderName}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field hintLabel="Max 50 characters" appearance="outline" [style.width.pc]=21>
          <mat-label>Description</mat-label>
          <input formControlName="description" #Description matInput maxlength="50" autocomplete="off">
        </mat-form-field>
        <input hidden="true" #inputfile type="file" (change)="fileChangeEvent($event)" />
        <button [disabled]="loading" class="mat-raised-button" matTooltip="select file" color="primary" (click)="inputfile.click()">
          <mat-icon aria-label="photo">photo</mat-icon>
        </button>&nbsp;&nbsp;
        <button [disabled]="loading" type="submit" (click)="uploadFile()" matTooltip="upload file" class="mat-raised-button">
          <mat-icon aria-label="file_upload">file_upload</mat-icon>
        </button>&nbsp;&nbsp;
      </div>
      <div fxLayout="row">
        <button [disabled]="loading" class="mat-raised-button" matTooltip="rotate anti clock wise" (click)="rotateLeft()">
          <mat-icon aria-label="rotate_left">rotate_left</mat-icon>
        </button>
        <button [disabled]="loading" class="mat-raised-button" matTooltip="rotate clock wise" (click)="rotateRight()">
          <mat-icon aria-label="rotate_right">rotate_right</mat-icon>
        </button>
        <button [disabled]="loading" class="mat-raised-button" matTooltip="flip horizontally" (click)="flipHorizontal()">
          <mat-icon aria-label="flip">flip</mat-icon>
        </button>
        <button [disabled]="loading" class="mat-raised-button" matTooltip="flip vertically" (click)="flipVertical()">
          <mat-icon aria-label="swap_vert">swap_vert</mat-icon>
        </button>
        <button [disabled]="loading" class="mat-raised-button" (click)="toggleContainWithinAspectRatio()">
          {{containWithinAspectRatio?'Fill Aspect Ratio':'Contain Within Aspect Ratio'}}</button>
        <button [disabled]="loading" class="mat-raised-button" matTooltip="reset image" (click)="resetImage()">
          <mat-icon aria-label="restart_alt">restart_alt</mat-icon>
        </button>
        <!-- <input hidden="true" [(ngModel)]="rotation" placeholder="Rotation" type="number" (keyup)="updateRotation()" /> -->
        <button [disabled]="loading" class="mat-raised-button" matTooltip="zoom out" (click)="zoomOut()">
          <mat-icon aria-label="zoom_out">zoom_out</mat-icon>
        </button>
        <button [disabled]="loading" class="mat-raised-button" matTooltip="zoom in" (click)="zoomIn()">
          <mat-icon aria-label="zoom_in">zoom_in</mat-icon>
        </button>
      </div>
      <br>
      <table>
        <tr>
          <td>
            <image-cropper class="column1" [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
              [containWithinAspectRatio]="containWithinAspectRatio" [aspectRatio]="4/3" [resizeToWidth]="100"
              [cropperMinWidth]="100" [onlyScaleDown]="false" [roundCropper]="false" [canvasRotation]="canvasRotation"
              [transform]="transform" [alignImage]="'left'" [style.display]="showCropper ? null : 'none'" format="png"
              (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady($event)"
              (loadImageFailed)="loadImageFailed()"></image-cropper>
          </td>
          <td valign="top">
            <!-- <img class="colum2" [src]="croppedImage" [style.border]="croppedImage ? '0px solid white' : 'none'" /> -->
            <img class="colum2" [src]="croppedImage" [style.border]="'none'" />
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>
</mat-card>