<mat-card>
    <mat-card-title>{{PageTitle}}</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
    <mat-card-content fxLayout="column">
        <div class="container">
            <div class="child1">
                <mat-form-field>
                    <input matInput #search autocomplete="Off" placeholder="Search">
                </mat-form-field>
            </div>
            <div class="child2">
                <button mat-button (click)="applyFilter(search.value)">
                    <mat-icon>search</mat-icon>
                </button>
            </div>
        </div>
        <!-- <div class="example-container mat-elevation-z8"> -->
        <div>
            <div class="newContainer" *ngFor="let element of DATA">
                <div class="subtitle"><a style="color:blue" (click)="view(Id,element.PhId)">{{element.Title|titlecase}}</a>
                   <br> {{element.Date|date:'dd/MM/yyyy'}}
                </div>
                <div class="content">
                  <p>  {{element.Body| slice:0:200}} <a style="color:blue" (click)="view(Id,element.PhId)">more..</a></p>
                </div>                
            </div>           
            <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
            
        </div>
    </mat-card-content>
</mat-card>