mat-form-field{
    margin-right: 15px;
    width: 98%;
}

.mat-row {
    height: auto;
}
mat-cell,mat-header-cell{
    border-right: 1px solid lightgray;
    padding: 10px;
    width: 100px;
    justify-content: center;
    align-self: stretch;
}

.mat-cell {
    padding: 0px;
}
.mat-column-Division{
    justify-content:center;
}
.mat-footer-row,
.mat-header-row,
.mat-row {
    display: inline-flex;
    min-width: 100%;
}