mat-form-field{
    margin-right: 15px;
    width: 98%;
}
mat-cell:first-of-type{
    padding-left: 0px;
}
.mat-row {
    height: auto;
}
mat-header-cell{
    border-right: 1px solid lightgray;
    //padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items:center;
    align-self: stretch;
}
mat-cell{
    border-right: 1px solid lightgray;
    //padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}
.mat-column-Student{
    justify-content: flex-start;
    flex: 1 1 150px;
}
// .mat-cell {
//     padding: 0px;
// }
.mat-column-Division{
    justify-content:center;
    flex: 1 1 120px;
}

// mat-cell:nth-child(1),
// mat-header-cell:nth-child(1) {
//     flex: 0 0 10%;
// }

// .mat-footer-row,
// .mat-header-row,
// .mat-row {
//     display: inline-flex;
//     min-width: 100%;
// }