<div>
    <div style="padding:15px 15px 10px 15px;">
        <div><strong>Application Features</strong></div>
    </div>
    <mat-spinner *ngIf="loading" diameter="25" style="position:relative;margin-left: 50%;"></mat-spinner>
    <alert></alert>
    <div style="padding: 15px;" fxLayout="row wrap">
        <div style="width: 100%;">
            <form [formGroup]="searchForm">
                <mat-form-field [style.width.pc]="25">
                    <mat-label>Application</mat-label>
                    <mat-select formControlName="searchApplicationName">
                        <mat-option *ngFor="let option of Applications" [value]="option.MasterDataId">
                            {{option.Description}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button [disabled]="loading" class="mat-raised-button" (click)="GetApplicationFeatures()">
                    <mat-icon>search</mat-icon>
                </button>
            </form>
            <mat-table #table [dataSource]="dataSource">
                <!-- <ng-container matColumnDef="Application">
                    <mat-header-cell style="display: flex;justify-content: center;" *matHeaderCellDef>Application
                    </mat-header-cell>
                    <mat-cell style="display: flex;" *matCellDef="let element">
                        {{element.Application}}
                    </mat-cell>
                </ng-container> -->
                <ng-container matColumnDef="FeatureName">
                    <mat-header-cell style="display: flex;justify-content: center;" *matHeaderCellDef>Feature
                    </mat-header-cell>
                    <mat-cell style="display: flex;" *matCellDef="let element">
                        <mat-form-field>
                            <input matInput (blur)="onBlur(element)" autocomplete="Off" [maxlength]="250"
                            [value]="element.FeatureName" [(ngModel)]="element.FeatureName">
                        </mat-form-field>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Active">
                    <mat-header-cell *matHeaderCellDef>Active
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <mat-checkbox (click)="$event.stopPropagation()" (change)="updateActive(element,$event)"
                            [checked]="element.Active==1?true:false">
                        </mat-checkbox>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Action">
                    <mat-header-cell *matHeaderCellDef>
                        <button [disabled]="loading" matTooltip="add new" mat-mini-fab (click)="AddNew()">
                            <mat-icon>add</mat-icon>
                        </button>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" fxLayoutAlign="space-between center" fxLayout="row">
                        <button [disabled]="loading || !element.Action" matTooltip="save" mat-mini-fab (click)="UpdateOrSave(element)">
                            <mat-icon>save</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></mat-row>
            </mat-table>
        </div>

    </div>
</div>