<mat-card [ngClass]="{'width100':deviceXs,'width80':!deviceXs}">
    <mat-card-title style="margin-left: 20px;margin-top: 20px;"></mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
    <mat-card-content>
        <alert></alert>
        <div class="container" fxLayout="row wrap" fxLayoutAlign="space-around center">
                <form *ngIf="!isSuccessful" [formGroup]="RegistrationForm">
                    <mat-form-field appearance="outline">
                        <mat-label>Name</mat-label>
                        <input formControlName="UserName" autocomplete="Off" #UserName matInput [maxlength]="50">
                        <!-- <mat-hint align="end">{{MotherName.value?.length || 0}}/50</mat-hint> -->
                        <span class="text-danger" *ngIf="f.UserName.touched && f.UserName.hasError('required')">
                            Name is required.</span>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Contact No.</mat-label>
                        <input formControlName="ContactNo" autocomplete="Off" #ContactNo matInput [maxlength]="20">
                        <!-- <mat-hint align="end">{{MotherName.value?.length || 0}}/50</mat-hint> -->
                        <span class="text-danger" *ngIf="f.ContactNo.touched && f.ContactNo.hasError('required')">
                            Contact No. is required.</span>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Organization Name</mat-label>
                        <input formControlName="OrganizationName" autocomplete="Off" matInput [maxlength]="50">
                        <!-- <mat-hint align="end">{{MotherName.value?.length || 0}}/50</mat-hint> -->
                        <span class="text-danger" *ngIf="f.OrganizationName.touched && f.OrganizationName.hasError('required')">
                            Organisation name is required.</span>
                    </mat-form-field>                    
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input formControlName="Email" type="email" autocomplete="Off" matInput [maxlength]="50">
                        <!-- <mat-hint align="end">{{MotherName.value?.length || 0}}/50</mat-hint> -->
                        <span class="text-danger" *ngIf="f.Email.touched && f.Email.hasError('required')">
                            Email is required.</span>
                        <span *ngIf="f.Email.touched && f.Email.hasError('email')">
                                Email must be a valid email address
                            </span>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input formControlName="Password" type="password" matInput autocomplete="Off" [maxlength]="50">
                        <!-- <mat-hint align="end">{{MotherName.value?.length || 0}}/50</mat-hint> -->
                        <span class="text-danger" *ngIf="f.Password.touched && f.Password.hasError('required')">
                            password is required.</span>
                            <span *ngIf="f.Password.touched && f.Password.hasError('minlength')">
                                Password must be at least 6 characters
                            </span>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Confirm Password</mat-label>
                        <input formControlName="ConfirmPassword" type="password" autocomplete="Off" matInput [maxlength]="50">
                        <!-- <mat-hint align="end">{{MotherName.value?.length || 0}}/50</mat-hint> -->
                        <span class="alert-danger" *ngIf="f.ConfirmPassword.errors && f.submitted">
                            <span *ngIf="f.ConfirmPassword.errors.required">ConfirmPassword is required</span>
                            <span *ngIf="f.ConfirmPassword!=f.Password">
                                The password and confirm password do not match
                            </span>
                        </span>
                    </mat-form-field>
                    <div fxLayoutAlign="start">
                        <button [disabled]="loading" class="mat-raised-button" (click)="onSave()" matTooltip="create">
                            <mat-icon>create</mat-icon>
                        </button>
                        <button [disabled]="loading" (click)="gotohome()" class="mat-raised-button" matTooltip="cancel">
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </div>
                    <div style="padding: 20px;" class="alert alert-warning" *ngIf="errorMessage.length>0">
                        Signup failed!<br />{{ errorMessage }}
                    </div>
                </form>
                <div class="alert alert-success" *ngIf="isSuccessful">
                    Please check and click on the link provided in your email for verification.
                    <button [disabled]="loading" class="mat-raised-button" (click)="gotologin()">click to login</button>    
                </div>
            </div>
        <!-- </div> -->
    </mat-card-content>
</mat-card>