:host{
    width: 100%;
    display: grid;
    place-items: center;    
}
.container{
    margin: auto;
    align-self: center;
}
button{
    margin-right: 15px;
}
.column{
    margin-right: 15px;
}
.mat-card{
    position: relative;
    margin-top:120px; 
}
.width100{
    width: 100%;
}
.width80{
    width: 40%;
}
mat-form-field{
    margin-right: 20px;
}