:host{
    display: grid;
    place-items: center;
    
}
.container{
    display:flex;
    //justify-content: center;
    //margin-top: 150px;
}
button{
    margin-right: 15px;
}
.column{
    margin-right: 15px;
}
.mat-card{
    position: relative;
    margin-top:15px; 
    max-height: 350px;
}
.width100{
    width: 100%;
}
.width80{
    width: 40%;
}