:host{
    display: grid;
    place-items: center;
    min-height: 91vh;
    background-color:white;    
}
.container{
    display:flex;
    //justify-content: center;
    //margin-top: 150px;
}
button{
    margin-right: 15px;
}
.column{
    margin-right: 15px;
}
.mat-card{
    justify-content: center;
    position: relative;
    height: max-content;
    //margin-top:100px; 
    //margin: 60px;
    width: 500px;
}
.width100{
    width: 100%;
}
.width80{
    width: 40%;
}
@media only screen and (max-width: 500px) {
    mat-card{
        width: 100%;
    }
    
}