<mat-card>
    <mat-card-title></mat-card-title>
    <mat-card-subtitle>&nbsp;</mat-card-subtitle>
    <mat-card-content style="min-height: 100vh;margin-top:-100px; display: flex;flex-direction: column; align-items:center;justify-content: center;">        
            <form [formGroup]="searchForm">
                <mat-form-field [style.width.px]="250" appearance="outline">
                    <mat-select formControlName="searchApplicationId">
                        <mat-option *ngFor="let item of PermittedApplications" [value]="item.applicationId">
                            {{item.applicationName}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field [style.width.px]="130" appearance="outline">
                    <mat-select formControlName="searchBatchId" (selectionChange)="ChangeCurrentBatchId($event)">
                        <mat-option *ngFor="let item of Batches" [value]="item.BatchId">{{item.BatchName}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <button [disabled]="loading" class="mat-raised-button" (click)="ChangeApplication()">
                    <mat-icon>search</mat-icon>
                </button>
            </form>        
    </mat-card-content>
</mat-card>