:host {
   width:100%;
  }
.dynamicimgborder{
    //border:1px solid white;
    margin-bottom: 5px;
}
span:hover{   
    border-radius: 3px;
    transition: all .3s linear;
    cursor:pointer;
    transform: scale(1.1);
 
}
mat-card{
    background-color: #1E4A75;
    padding: 30px;
 
}
.whole{
    margin-bottom: 25px !important;
    background-color:#3889D9;
    border-radius: 5px;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: white;
    //border-color: white;
    outline: white;
    border-radius: 5px;
  }