mat-form-field{
    margin-right: 15px;
    width:98%;
}
button {
    margin-right: 15px;
}

mat-cell:first-of-type {
    padding-left: 0px;
}
.mat-column-ExamName,
.mat-column-StartDate,
.mat-column-EndDate,
.mat-column-ReleaseDate{
    flex:1 1 130px;
}
.mat-column-Active,.mat-column-ReleaseResult,.mat-column-ExamId {
    justify-content: center;
    flex:1 1 70px;
}