<div>
    <div style="padding:15px 15px 10px 15px;">
        <div><strong>Customer Invoice</strong></div>
    </div>
    <mat-spinner *ngIf="loading" diameter="25" style="position:relative;margin-left: 50%;"></mat-spinner>
    <alert></alert>
    <div style="padding: 15px;" fxLayout="row wrap">
        <div style="width: 100%;">
            <form [formGroup]="searchForm" fxLayout="row" fxLayoutAlign="space-between center">
                <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="space-around center">
                    <mat-form-field appearance="outline">
                        <mat-label>Customer</mat-label>
                        <mat-select formControlName="searchOrgId">
                            <mat-option *ngFor="let item of Organizations" [value]="item.OrganizationId">
                                {{item.OrganizationName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>0
                    <mat-form-field appearance="outline">
                        <mat-label>Month</mat-label>
                        <mat-select formControlName="searchYearMonth">                            
                            <mat-option *ngFor="let month of DropDownMonths" [value]="month['val']">{{month['MonthName']}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button [disabled]="loading" matTooltip="search" class="mat-raised-button"
                        (click)="GetCustomerInvoice()">
                        <mat-icon>search</mat-icon>
                    </button>
                </div>
            </form>
            <mat-table #table [dataSource]="CustomerInvoiceDataSource">
                <ng-container matColumnDef="CustomerName">
                    <mat-header-cell *matHeaderCellDef>Customer
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element.CustomerName}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="DueForMonth">
                    <mat-header-cell *matHeaderCellDef>Due Month
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element.DueForMonth}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="InvoiceDate">
                    <mat-header-cell *matHeaderCellDef>Invoice Date
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element.InvoiceDate| date:'dd/MM/yyyy'}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="DueDate">
                    <mat-header-cell *matHeaderCellDef>Due Date
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element.DueDate| date:'dd/MM/yyyy'}}
                    </mat-cell>
                </ng-container>
                
                <ng-container matColumnDef="TotalAmount">
                    <mat-header-cell *matHeaderCellDef>Total Amount
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element.TotalAmount}}
                    </mat-cell>
                </ng-container>   
                <ng-container matColumnDef="PaymentStatusId">
                    <mat-header-cell *matHeaderCellDef>Payment Status
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <mat-select (selectionChange)="onBlur(element)" [(ngModel)]="element.PaymentStatusId" [value]="element.PaymentStatusId">
                                <mat-option *ngFor="let item of PaymentStatus" [value]="item.MasterDataId">{{item.MasterDataName}}</mat-option>
                        </mat-select>
                    </mat-cell>
                </ng-container>   
                <ng-container matColumnDef="Active">
                    <mat-header-cell *matHeaderCellDef> Active </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <mat-checkbox (click)="$event.stopPropagation()" (change)="updateActive(element,$event)"
                            [checked]="element.Active==1?true:false">
                        </mat-checkbox>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Action">
                    <mat-header-cell *matHeaderCellDef>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" fxLayoutAlign="space-between center" fxLayout="row">
                        <button [disabled]="loading || !element.Action" matTooltip="save" mat-mini-fab (click)="UpdateOrSave(element)">
                            <mat-icon>save</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="InvoiceDisplayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: InvoiceDisplayedColumns;" class="element-row"></mat-row>
            </mat-table>
        </div>
    </div>
</div>