<div class="divCls"><strong>Fee Receipt</strong></div>
<br>
<div *ngIf="NewReceipt">
    <div class="divCls" fxLayoutGap="100px" id="printSection">
        <div fxLayout="column" fxLayoutAlign="space-around center">
            <span style="font-size: 24pt;">
                <b>ST. PAUL'S INSTITUTE</b>
            </span>
            <span>(CBSE Affiliation No. 1230018)</span>
            <span>New Lamka, Go Cin Khup Veng, Churachandpur</span>
        </div>
        <br>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <span>
                <b>Bill No.</b>: {{studentInfoTodisplay.BillNo}}
            </span>
            <div fxLayout="row" fxLayoutAlign="space-around center">
                <span>
                    <span><strong>Offline Receipt No.: </strong></span>
                    <mat-form-field appearance="legacy" [style.width.px]="100">
                        <input matInput [(ngModel)]="studentInfoTodisplay.OfflineReceiptNo">
                    </mat-form-field>
                </span>
            </div>
    
            <span>
                <b>Bill Date</b>: {{studentInfoTodisplay.ReceiptDate|date:'dd/MM/yyyy'}}
            </span>
        </div>
        <br>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <span>
                Received with thanks from <b>{{studentInfoTodisplay.StudentName}}</b>,
                Class : {{studentInfoTodisplay.StudentClassName}} - Sec. {{studentInfoTodisplay.SectionName}} -
                Roll no. {{studentInfoTodisplay.RollNo}}.
            </span>
        </div>
                <mat-divider></mat-divider>
        <br>
        <div>
            <mat-table #table [dataSource]="dataSource">
                <ng-container matColumnDef="SlNo">
                    <mat-header-cell *matHeaderCellDef> Sr.No. </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.SlNo}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="FeeName">
                    <mat-header-cell *matHeaderCellDef> Particulars </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element.FeeName}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="PaymentAmount">
                    <mat-header-cell *matHeaderCellDef> Amount &#x20b9; </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element.PaymentAmount}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Action" *ngIf="editReceipt">
                    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <button matTooltip="cancel" (click)="UpdateActive(element)" class="mat-raised-button">
                            <mat-icon>
                                cancel
                            </mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" fxLayoutAlign="space-between center"
                    fxLayout="row"></mat-row>
            </mat-table>
            <div fxLayout="row" fxLayoutAlign="end center">
                <span style="padding: 10px;"><strong>Total &#x20b9;</strong>: {{studentInfoTodisplay.TotalAmount}}
                </span>
            </div>
        </div>

    </div>
    <div style="padding: 15px;" fxLayout="row" fxLayoutAlign="center center">
        <button matTooltip="generate receipt" *ngIf="studentInfoTodisplay.BillNo==0" (click)="whenPrint()" class="mat-raised-button">
            <mat-icon>create_new_folder</mat-icon>
        </button>
        <div *ngIf="Saved || studentInfoTodisplay.BillNo>0">
            <button matTooltip="edit receipt" *ngIf="!editReceipt" (click)="edit()" class="mat-raised-button">
                <mat-icon>edit</mat-icon>
            </button>
            <button matTooltip="done" *ngIf="editReceipt" (click)="done()" class="mat-raised-button">
                <mat-icon>checked</mat-icon>
            </button>
            <button matTooltip="print" *ngIf="!editReceipt" printSectionId="printSection" [useExistingCss]="true"
                ngxPrint class="mat-raised-button">
                <mat-icon>print</mat-icon>
            </button>            
        </div>
        <button matTooltip="back" (click)="GetStudentFeePaymentDetails(0)" class="mat-raised-button">
            <mat-icon>arrow_back</mat-icon>
        </button>
    </div>
</div>
<div *ngIf="!NewReceipt">
    <div style="width:100%;padding:20px" fxLayoutAlign="center center" fxLayout="row" fxLayoutGap="20px">
        <mat-form-field appearance="outline">
            <mat-label>Receipt no.</mat-label>
            <input matInput #receiptno [(ngModel)]="studentInfoTodisplay.ReceiptNo" autocomplete="off">
        </mat-form-field>
        <button class="mat-raised-button" (click)="GetStudentFeePaymentDetails(receiptno.value)">
            <mat-icon>search</mat-icon>
        </button>
    </div>
    
</div>