mat-form-field,button{
    margin-right: 15px;
}
mat-header-row, mat-row{
    border-bottom-style: none;
    min-height:0px;
  }
  mat-table{
      padding: 30px;
  }
  .divCls{
      border: 1px solid lightgray;
  }