mat-form-field{
    margin-right: 15px;
    width: 98%;
}

.mat-column-Name
{
    flex:1 1 120px;
}
.mat-column-ContactNo,
.mat-column-RelationshipId{
    flex:1 1 100px;
}
.mat-column-Remarks{
    flex: 1 1 150px;
}
.mat-column-StudentFamilyNFriendId{
    flex: 1 1 80px;
}