mat-form-field{
    margin-right: 15px;
    width: 98%;
}
.mat-column-FeeType,
.mat-column-FeeTypeRemarks,
.mat-column-Name
{
    flex:1 1 120px;
}
.mat-column-ContactNo,
.mat-column-Action
{
    flex:1 1 100px;
}
.mat-column-SiblingId
{
    flex: 1 1 200px;
}

.mat-column-RelationshipId,
.mat-column-Remarks
{
    flex: 1 1 150px;
}
.mat-column-StudentFamilyNFriendId,.mat-column-Active{
    justify-content: center;
    flex: 1 1 70px;
}