<mat-card>
    <mat-card-title>Class Fees</mat-card-title>
    <mat-card-subtitle>&nbsp;</mat-card-subtitle>
    <mat-card-content>
        <strong>Class Fee Definition Statuses for the current session</strong>
        <mat-divider></mat-divider>
        <div fxLayoutGap="10" fxLayout="row wrap" fxLayoutAlign="space-between">
            <div *ngFor="let item of ClassStatuses">{{item.class}}
                <mat-icon matTooltip="done" *ngIf="item.Done">done</mat-icon>
                <mat-icon matTooltip="pending" *ngIf="!item.Done">pending</mat-icon>                
            </div>
        </div>
        <mat-divider></mat-divider>
        <br>
        <form [formGroup]="searchForm">
            <mat-form-field appearance="outline">
                <mat-label>Class</mat-label>
                <mat-select formControlName="ClassId" #Class>
                    <mat-option value="0">---</mat-option>
                    <mat-option *ngFor="let p of Classes" [value]="p.MasterDataId">
                        {{p.MasterDataName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Fee name</mat-label>
                <mat-select formControlName="FeeNameId" #FeeName>
                    <mat-option value="0">---</mat-option>
                    <mat-option *ngFor="let p of FeeNames" [value]="p.MasterDataId">
                        {{p.MasterDataName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Batch/Session</mat-label>
                <mat-select formControlName="Batch">
                    <mat-option value="0">---</mat-option>
                    <mat-option *ngFor="let p of Batches" [value]="p.MasterDataId">
                        {{p.MasterDataName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <button class="mat-raised-button" (click)="GetClassFee()">
                <mat-icon>search</mat-icon>
            </button><br>
        </form>
        <div class="example-container mat-elevation-z8">
            <mat-table #table [dataSource]="dataSource">

                <ng-container matColumnDef="SlNo">
                    <mat-header-cell *matHeaderCellDef> Sr.No. </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.SlNo}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="FeeNameId" hidden>
                    <mat-header-cell *matHeaderCellDef> FeeID </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element.FeeNameId}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="FeeName">
                    <mat-header-cell *matHeaderCellDef> Fee </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element.FeeName}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Amount">
                    <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <FeeEditInput [data]="element.Amount|number:'1.2-2'" (tried)="getoldvalue($event)"
                            (focusOut)='updateAmount(element,$event)'></FeeEditInput>
                    </mat-cell>
                </ng-container>
<!-- 
                <ng-container matColumnDef="Batch">
                    <mat-header-cell *matHeaderCellDef> Batch </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <mat-select [(value)]="element.Batch" placeholder="batch" [style.width.px]="100">
                            <mat-option *ngFor="let item of Batches" [value]="item.MasterDataId">{{item.MasterDataName}}
                            </mat-option>
                        </mat-select>
                    </mat-cell>
                </ng-container> -->
                <ng-container matColumnDef="Status">
                    <mat-header-cell *matHeaderCellDef>Status </mat-header-cell>
                    <mat-cell style="justify-content: center;" *matCellDef="let element">
                        <mat-checkbox [(checked)]="element.Status" (click)="$event.stopPropagation()"
                            (change)="updateActive(element,$event)">
                        </mat-checkbox>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="PaymentOrder">
                    <mat-header-cell *matHeaderCellDef> Payment Order </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <FeeEditInput [data]="element.PaymentOrder" (tried)="getoldvalue($event)"
                            (focusOut)='updatePaymentOrder(element,$event)'></FeeEditInput>
                    </mat-cell>
                </ng-container>

                <!-- <ng-container matColumnDef="LocationId">
                    <mat-header-cell *matHeaderCellDef> Location </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <mat-select (selectionChange)="enableAction(element)" [(value)]="element.LocationId" placeholder="location">
                            <mat-option *ngFor="let item of Locations" [value]="item.MasterDataId">{{item.MasterDataName}}
                            </mat-option>
                        </mat-select>
                    </mat-cell>
                </ng-container> -->
                <ng-container matColumnDef="Action">
                    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <button [(disabled)]="!element.Action" mat-mini-fab (click)="UpdateOrSave(element)">
                            <mat-icon>save</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </div>
    </mat-card-content>
</mat-card>