<div>
    <div style="padding:15px 15px 10px 15px;">
        <div><strong>Student Subject</strong></div>
    </div>
    <alert></alert>
    <mat-spinner *ngIf="loading" diameter="25" style="position:relative;margin-left: 50%;"></mat-spinner>
    <form [formGroup]="searchForm">
        <mat-form-field appearance="outline">
            <mat-label>Class</mat-label>
            <mat-select formControlName="searchClassId">
                <mat-option *ngFor="let item of Classes" [value]="item.ClassId">
                    {{item.ClassName}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Section</mat-label>
            <mat-select formControlName="searchSectionId">
                <mat-option *ngFor="let item of Sections" [value]="item.MasterDataId">
                    {{item.MasterDataName}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button [disabled]="loading" class="mat-raised-button" (click)="GetStudentClassSubject()">
            <mat-icon>search</mat-icon>
        </button>
        <button [disabled]="loading" matTooltip="clear all" class="mat-raised-button" (click)="clear()">
            <mat-icon>clear_all</mat-icon>
        </button>
    </form>
    Subject can be assigned to student defined in student class.
    <mat-table #table [dataSource]="dataSource" style="min-width: 1200px;">
        <ng-container *ngFor="let disCol of displayedColumns; let colIndex = index" matColumnDef="{{disCol}}">
            <mat-header-cell *matHeaderCellDef>{{disCol!='Action'?disCol:''}}
                <div *ngIf="StudentSubjectList.length>0" fxLayoutAlign="center center">
                    <span *ngIf="disCol=='Action'">Select&nbsp;</span>
                    <mat-checkbox fxLayoutAlign="center center" matTooltip="select all" *ngIf="disCol=='Action'"
                        (click)="$event.stopPropagation()" (change)="SelectAll($event)">
                    </mat-checkbox>
                    <button *ngIf="disCol=='Action'" [disabled]="loading || Permission=='read'"
                        matTooltip="save all" mat-mini-fab (click)="UpdateAll()">
                        <mat-icon>all_out</mat-icon>
                    </button>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let element ">
                <mat-checkbox matTooltip="select all in row" *ngIf="disCol !='Student'"
                    (click)="$event.stopPropagation()" (change)="SelectAllInRow(element,$event,disCol)"
                    [checked]="element[disCol]==1?true:false">
                </mat-checkbox>
                <div fxLayout="column" fxLayoutAlign="center end">
                    <button *ngIf="disCol=='Action'" [disabled]="loading || Permission=='read' || !element.Action" matTooltip="save"
                        mat-mini-fab (click)="SaveRow(element)">
                        <mat-icon>save</mat-icon>
                    </button>
                </div>
                {{disCol=='Student'?element[disCol]:''}}
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></mat-row>
    </mat-table>

</div>