<div>
    <div style="padding:15px 15px 10px 15px;">
        <div><strong>Generate Certificates</strong></div>
    </div>
    <mat-spinner *ngIf="PageLoading" diameter="25" style="position:relative;margin-left: 50%;"></mat-spinner>
    <!-- <alert></alert> -->
    <div style="padding: 15px;" fxLayout="row wrap">
        <div style="width: 100%;">
            <form [formGroup]="searchForm">
                <mat-form-field appearance="outline" [style.width.px]="350">
                    <mat-label>Student</mat-label>
                    <input type="text" matInput formControlName="searchStudentName" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                        <mat-option *ngFor="let option of filteredStudents | async" [value]="option">
                            {{option.Name}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Certificates</mat-label>
                    <mat-select formControlName="searchCertificateTypeId" #cerId (selectionChange)="CheckType()">
                        <mat-option *ngFor="let item of CertificateTypes" [value]="item.MasterDataId">
                            {{item.MasterDataName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div *ngIf="SportsCertificate">
                    <mat-form-field appearance="outline">
                        <mat-label>Activity</mat-label>
                        <mat-select formControlName="searchActivityId" (selectionChange)="SetCategory()">
                            <mat-option value="0">select</mat-option>
                            <mat-option *ngFor="let item of ActivityNames" [value]="item.MasterDataId">
                                {{item.MasterDataName}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" (selectionChange)="SetSubCategory()">
                        <mat-label>Category</mat-label>
                        <mat-select formControlName="searchCategoryId">
                            <mat-option *ngFor="let item of ActivityCategory" [value]="item.MasterDataId">
                                {{item.MasterDataName}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Sub Category</mat-label>
                        <mat-select formControlName="searchSubCategoryId">
                            <mat-option *ngFor="let item of ActivitySubCategory" [value]="item.MasterDataId">
                                {{item.MasterDataName}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Session</mat-label>
                        <mat-select formControlName="searchSessionId">
                            <mat-option value="0">select</mat-option>
                            <mat-option *ngFor="let item of ActivitySessions" [value]="item.MasterDataId">
                                {{item.MasterDataName}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <button [disabled]="loading" mat-raised-button color="accent" (click)="GetCertificates()">
                     <mat-icon>search</mat-icon>
                            <mat-icon *ngIf="loading">
                                <mat-spinner diameter="20" color="Blue"></mat-spinner>
                            </mat-icon>
                </button>
                <!-- <button [disabled]="loading" matTooltip="clear all" class="mat-raised-button" (click)="clear()">
                    <mat-icon>clear_all</mat-icon>
                </button> -->
            </form>
            <div id="printSection">
                <mat-table [dataSource]="dataSource">
                    <ng-container *ngFor="let disCol of displayedColumns; let colIndex = index"
                        matColumnDef="{{disCol}}">
                        <mat-header-cell *matHeaderCellDef>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element" [innerHTML]="element[disCol] | encodeHTML">
                            <!-- <span [ngStyle]="element['Logic']" ></span>                               -->
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></mat-row>
                </mat-table>              
            </div>
            <br>
            <div fxLayout="row" fxLayoutAlign="center center">
            <button (click)="UpdateStudentCertificates()" [disabled]="loading || Permission=='read' || CertificateElements.length==0" 
                matTooltip="print" printSectionId="printSection" 
                [useExistingCss]="true"
                ngxPrint mat-raised-button color="accent">
                <mat-icon>print</mat-icon>
            </button>
        </div>
        </div>
    </div>
</div>