mat-form-field,
button {
  margin-right: 15px;
}

mat-cell,
mat-header-cell {
  padding:15px;
  border-right: 1px solid lightgray;
}

// mat-header-row,
.element-row {
  border-bottom-style: none;
  min-height         : 0px;
  padding-left : 6cm;
  padding-right: 6cm;
}

// mat-table {
//   padding: 30px;
// }

// .divCls {
//   font-size: larger !important;
//   border   : 1px solid lightgray;
// }

// .element-row {
//   padding-left : 30px;
//   padding-right: 30px;
// }

