mat-header-cell{
    display: grid;
    justify-content: center;
}
.mat-cell,.mat-header-cell{
    border-collapse: collapse;
    border-width: 0px 1px 0px 0px;
    border-color: lightgray;
    border-style: solid;
    padding: 5px;    
    
}
.mat-column-index{
    justify-content: center;
    flex: 1 1 50px;
}
.mat-column-SlNo{
    display: grid;
    place-items: center;
    flex: 1 1 50px;
}
.mat-column-Amount{
    display: flex;
    justify-content: flex-end;
    flex: 1 1 150px;
}
.mat-column-ReceiptNo{
    flex: 1 1 100px;
}
.mat-column-FeeName{
    flex: 1 1 200px;
}
.mat-column-PaymentAmount,.mat-column-OfflineReceiptNo,.mat-column-TotalAmount{
    display:flex;
    justify-content: center;
    flex: 1 1 150px;
}
.mat-column-ReceiptDate,.mat-column-Active, .mat-column-Action{
    display: flex;
    justify-content: center;
    flex: 1 1 150px;
}
.divCls{
    font-family: Arial, Helvetica, sans-serif;
    padding:15px 15px 10px 15px;
}
button{
    margin-right: 15px;
}
div{
    margin-right: 0px !important;
}
.mat-raised-button
{
    margin-right: 15px;
}
.mat-row {
    min-height: 43px !important;
}
.mat-table{
    min-width: 350px;
}
