mat-form-field,button{
    margin-right: 15px;
}
mat-cell:first-of-type{
    padding-left: 0px;
}
.mat-column-Student{
    flex:1 0 150px
}
.mat-column-Rank,
.mat-column-Grade,
.mat-column-Percent,
.mat-column-TotalMarks{
    flex:1 0 100px
}