mat-form-field{
    width: 98%;
    margin-right: 15px;
}
.mat-column-Active,.mat-column-Action{
    flex:0 0 100px;
}
.mat-column-EmployeeActivityId{
    flex:0 0 70px;
}
.mat-column-AchievementDate{
    flex:0 0 130px;
}
.mat-column-EmployeeActivity{
    flex:0 0  150px;
}
.mat-column-Category,.mat-column-SubCategory{
    flex:0 0  120px;
}