<mat-card>
    <mat-card-title>Configuration</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
    <mat-card-content fxLayout="column">
        <div class="example-header">
            <mat-form-field>
                <input matInput autocomplete="Off" (keyup)="applyFilter($any($event.target).value)"
                    placeholder="Search">
            </mat-form-field>
        </div>

        <div fxLayout="row">
            <div fxFlex="flex-1">
                Title
            </div>
            <div fxFlex="flex-1">
                Parent
            </div>
            <div fxFlex="flex-1">
                Icon
            </div>
            <div fxFlex="flex-1">
                Link
            </div>
            <div fxFlex="flex-1">
                label
            </div>
            <div fxFlex="flex-1">
                Order
            </div>
            <div fxFlex="flex-1">
                Has submenu
            </div>
            <div fxFlex="flex-1">
                Template
            </div>
            <div fxFlex="flex-1">
                Home Page
            </div>
            <div fxFlex="flex-1">
                Active
            </div>            
        </div>        
        <div class="main" *ngFor="let element of DATA; let i = index;">
                <div class="child">

                    <mat-form-field>
                        <input matInput (focusOut)='updateActive("PageTitle",element,$event)' [(ngModel)]="element.PageTitle" [(value)]="element.PageTitle" autocomplete="Off">
                    </mat-form-field>
<!-- 
                    <album-edit-input [data]="element.PageTitle" (tried)="getoldvalue($event)" (focusOut)='updateActive("PageTitle",element,$event)'>
                    </album-edit-input> -->
                </div>
                <div class="child">
                    <mat-form-field>
                        <input matInput (focusOut)='updateActive("ParentPage",element,$event)' [(ngModel)]="element.ParentPage" [(value)]="element.ParentPage" autocomplete="Off">
                    </mat-form-field>

                    <!-- <album-edit-input [data]="element.ParentPage" (tried)="getoldvalue($event)" (focusOut)='updateActive("ParentPage",element,$event)'>
                    </album-edit-input> -->
                </div>
                <div class="child">
                    <mat-form-field>
                        <input matInput (focusOut)='updateActive("faIcon",element,$event)' [(ngModel)]="element.faIcon" [(value)]="element.faIcon" autocomplete="Off">
                    </mat-form-field>

                    <!-- <album-edit-input [data]="element.faIcon" (tried)="getoldvalue($event)" (focusOut)='updateActive("faIcon",element,$event)'>
                    </album-edit-input> -->
                </div>
                <div class="child">
                    <mat-form-field>
                        <input matInput (focusOut)='updateActive("link",element,$event)' [(ngModel)]="element.link" [(value)]="element.link" autocomplete="Off">
                    </mat-form-field>

                    <!-- <album-edit-input [data]="element.link" (tried)="getoldvalue($event)" (focusOut)='updateActive("link",element,$event)'>
                    </album-edit-input> -->
                </div>
                <div class="child">
                    <mat-form-field>
                        <input matInput (focusOut)='updateActive("label",element,$event)' [(ngModel)]="element.label" [(value)]="element.label" autocomplete="Off">
                    </mat-form-field>
                    <!-- <album-edit-input [data]="element.label" (tried)="getoldvalue($event)" (focusOut)='updateActive("label",element,$event)'>
                    </album-edit-input> -->
                </div>
                <div class="child">
                    <mat-form-field>
                        <input matInput (focusOut)='updateActive("DisplayOrder",element,$event)' [(ngModel)]="element.DisplayOrder" [(value)]="element.DisplayOrder" autocomplete="Off">
                    </mat-form-field>
                    
                </div>
                <div class="child">
                    <mat-form-field>
                        <input matInput (focusOut)='updateActive("HasSubmenu",element,$event)' [(ngModel)]="element.HasSubmenu" [(value)]="element.HasSubmenu" autocomplete="Off">
                    </mat-form-field>
                    <!-- <album-edit-input [data]="element.HasSubmenu" (tried)="getoldvalue($event)" (focusOut)='updateActive("HasSubmenu",element,$event)'>
                    </album-edit-input> -->
                </div>
                <div class="child">
                    <mat-form-field>
                        <input matInput (focusOut)='updateActive("IsTemplate",element,$event)' [(ngModel)]="element.IsTemplate" [(value)]="element.IsTemplate" autocomplete="Off">
                    </mat-form-field>
                    <!-- <album-edit-input [data]="element.IsTemplate" (tried)="getoldvalue($event)" (focusOut)='updateActive("IsTemplate",element,$event)'>
                    </album-edit-input> -->
                </div>
                <div class="child">
                    <mat-form-field>
                        <input matInput (focusOut)='updateActive("HomePage",element,$event)' [(ngModel)]="element.HomePage" [(value)]="element.HomePage" autocomplete="Off">
                    </mat-form-field>
                    <!-- <album-edit-input [data]="element.HomePage" (tried)="getoldvalue($event)" (focusOut)='updateActive("HomePage",element,$event)'>
                    </album-edit-input> -->
                </div>
                <div class="child">
                    <mat-form-field>
                        <input matInput (focusOut)='updateActive("Active",element,$event)' [(ngModel)]="element.Active" [(value)]="element.Active" autocomplete="Off">
                    </mat-form-field>
                    <!-- <album-edit-input [data]="element.Active" (tried)="getoldvalue($event)" (focusOut)='updateActive("Active",element,$event)'>
                    </album-edit-input> -->
                </div>
                <!-- <div class="child">
                    <button [disabled]="loading" mat-mini-fab [id]="element.AlbumId" [name]="element.UpdatableName" matTooltip="DELETE"
                        class="iconbutton" color="gray" #button (click)="updateActive(button)">
                 
                        <mat-icon aria-label="delete">delete</mat-icon>
                    </button>
                </div> -->
                <mat-divider fxLayout="row" fxLayoutAlign=""></mat-divider>
            </div>
       
    </mat-card-content>
</mat-card>