<div>
    <div style="padding:15px 15px 10px 15px;">
        <div><strong>Report Config Data</strong></div>
    </div>
    <mat-spinner *ngIf="loading" diameter="25" style="position:relative;margin-left: 50%;"></mat-spinner>
    <alert></alert>
    <div style="padding: 15px;" fxLayout="row wrap">
        <div style="width: 100%;">
            <form [formGroup]="searchForm" fxLayout="row" fxLayoutAlign="space-between center">
                <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="space-around center">
                    <mat-form-field appearance="outline">
                        <mat-label>Report</mat-label>
                        <mat-select formControlName="searchReportName">
                            <mat-option *ngFor="let item of ReportNames" [value]="item.ReportConfigDataId">
                                {{item.ReportName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    
                    <button [disabled]="loading" matTooltip="search" class="mat-raised-button"
                        (click)="GetReportConfigData()">
                        <mat-icon>search</mat-icon>
                    </button>
                </div>
            </form>

            <mat-table #table [dataSource]="dataSource">
                <ng-container matColumnDef="ReportName">
                    <mat-header-cell *matHeaderCellDef>Report Name
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <mat-form-field appearance="outline">
                            <input [(ngModel)]="element.ReportName" [value]="element.ReportName" matInput
                                 autocomplete="off" [maxlength]="50">                            
                        </mat-form-field>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="AvailableFields">
                    <mat-header-cell *matHeaderCellDef> Available Fields </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <mat-form-field appearance="outline">
                            <textarea [(ngModel)]="element.AvailableFields" [value]="element.AvailableFields" matInput
                                 autocomplete="off" [maxlength]="1000">
                            </textarea>
                        </mat-form-field>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="TableNames">
                    <mat-header-cell *matHeaderCellDef>Table Names
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <mat-form-field appearance="outline">
                            <input [(ngModel)]="element.TableNames" [value]="element.TableNames" matInput
                                 autocomplete="off" [maxlength]="50">                            
                        </mat-form-field>
                    </mat-cell>
                </ng-container>                
                <ng-container matColumnDef="Active">
                    <mat-header-cell *matHeaderCellDef> Active </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <mat-checkbox (click)="$event.stopPropagation()" (change)="updateActive(element,$event)"
                            [checked]="element.Active==1?true:false">
                        </mat-checkbox>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Action">
                    <mat-header-cell *matHeaderCellDef>
                        <button [disabled]="loading" matTooltip="add new" mat-mini-fab (click)="addnew()">
                            <mat-icon>add</mat-icon>
                        </button>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" fxLayoutAlign="space-between center" fxLayout="row">
                        <button [disabled]="loading" matTooltip="save" mat-mini-fab (click)="UpdateOrSave(element)">
                            <mat-icon>save</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></mat-row>
            </mat-table>
        </div>
    </div>
</div>