mat-drawer {
    margin-top      : 65px;
    width           : 300px;
    background-color: #20639B;
    height: 100%;

}

mat-drawer-content {
    margin-top: 70px;
}

app-sidebar {
    min-height: 200vh;
}
