.item {
    border        : 1px thin gray;
    //border-color:gray;
}
.highlight{
    background-color: lightgray;
}
app-edit-input {
    display       : inline-block;
    vertical-align: baseline;
    width         : 300px;
    height        : 30px;
    margin        : 5px;
    //padding: 5px;
}

.Header {
    height     : 40px;
    //min-width: 300px;
    margin-left: 15px;

}
table{
    border-collapse: collapse;
}
div {
    margin-right: 5px;
}
mat-checkbox {
    margin-right: 15px;
}

button {
    margin : 5px;
    outline: none;
}

mat-form-field {
    margin-right: 15px;
}