
<mat-card>
    <mat-card-title>Initial Settings</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
    <mat-card-content style="margin:5px;max-height: inherit;">
        <mat-tab-group [selectedIndex]="selectedIndex" (selectedIndexChange)="tabChange($event)">
            <mat-tab *ngFor="let component of components;let indx=index">
                <ng-template mat-tab-label>
                    <mat-icon>{{tabNames[indx].faIcon}}</mat-icon>{{tabNames[indx].label}}
                </ng-template>
                <ng-template matTabContent>
                    <div #container></div>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>
<!-- <mat-card>
    <mat-card-title>Initial Settings</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
    <mat-card-content style="margin:5px;max-height: inherit;">
                <mat-tab-group [selectedIndex]="selectedIndex" (selectedIndexChange)="tabChanged($event)" mat-stretch-tabs>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon>first_page</mat-icon> Essential Data
                        </ng-template>
                        <app-add-master-data></app-add-master-data>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon>layers</mat-icon> Batches
                        </ng-template>
                        <app-batchdashboard></app-batchdashboard>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon>people</mat-icon> Users
                        </ng-template>
                        <app-appuserdashboard></app-appuserdashboard>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon>group_work</mat-icon> Role User
                        </ng-template>
                        <app-roleuserdashboard></app-roleuserdashboard>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon>apps
                            </mat-icon> Role Feature Permission
                        </ng-template>
                        <app-RoleAppPermissiondashboard></app-RoleAppPermissiondashboard>
                    </mat-tab>                
                </mat-tab-group>
       
    </mat-card-content>
</mat-card> -->