mat-form-field{
    margin-right: 15px;
    width:98%;
}
.mat-column-StudentClassId{
    justify-content: center;
    flex:1 1 100px;
}
.mat-column-GenderName,.mat-column-Active,
.mat-column-Action,
.mat-column-RollNo,
.mat-column-ClassName,
.mat-column-Remark,
.mat-column-SectionId{
    //justify-content: center;
    flex:1 0 100px;
}

.mat-column-StudentName,.mat-column-FeeTypeId,.mat-column-Remarks{
    flex:1 1 150px;
}
mat-cell:first-of-type{
    padding-left: 0px;
}