// .container{
//     //position: absolute;
//     margin-top: 100px;
// }
mat-form-field{
    margin-right:15px;
    width: 99%;
}
button{
    margin-right:15px;
}
.mat-column-Section,.mat-column-Active,.mat-column-Action{
    flex:0 0 100px;
 }
 .mat-column-HelperId,.mat-column-TeacherId{
     flex: 0 0 250px;
 }
