mat-form-field{
    margin-right: 15px;
    width: 98%;
}

.mat-column-FeatureName,.mat-column-PermissionId{
    flex:0 0 150px;
}
.mat-column-Active,.mat-column-Action,.mat-column-ApplicationFeatureRoleId{
    justify-content: center;
    flex:0 0 100px;
}
@media only screen and (max-width: 600px) {
    mat-cell:first-of-type{
        padding-left: 0px;
    }
}

