<mat-card>
    <mat-card-title>Manage Files/Folders</mat-card-title>
    <mat-card-content>
        <mat-spinner *ngIf="loading"></mat-spinner>
        <br>
        <form [formGroup]="searchForm">
            <div class="example-header" fxLayout="row" fxLayoutAlign="space-between center">
                <mat-form-field fxFlex="30" appearance="outline">
                    <mat-label>Enter folder name</mat-label>
                    <input matInput formControlName="UpdatedFileFolderName" autocomplete="off">
                </mat-form-field>
                <button class="mat-raised-button" (click)="getFiles(null,'search')" fxFlex="10">
                    <mat-icon>search</mat-icon>
                </button>
                <div fxFlex>&nbsp;</div>
            </div>
        </form>
        <div>
            <div fxLayout="row">
                <span *ngIf="error.length>0"> {{error}}</span>
                <span *ngIf="Albums.length>0">{{folderHierarachy|slice:6}}</span>
            </div>
            <mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="PageId" hidden="true">
                    <mat-header-cell *matHeaderCellDef hidden="true"> No. </mat-header-cell>
                    <mat-cell *matCellDef="let element" hidden="true">
                        <mat-icon *ngIf="element.FileOrFolder==0">file_present</mat-icon>
                        <mat-icon *ngIf="element.FileOrFolder==1">folder_open</mat-icon>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="UpdatedFileFolderName">
                    <mat-header-cell *matHeaderCellDef> Folder/File </mat-header-cell>
                    <mat-cell mat-cell *matCellDef="let element">
                        <album-edit-input [data]="element.UpdatedFileFolderName" (tried)="getoldvalue($event)"
                            (focusOut)='updateAlbum($event)'></album-edit-input>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="UploadDate">
                    <mat-header-cell *matHeaderCellDef> Upload Date </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.UploadDate|date:'dd/MM/yyyy'}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Copy">
                    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <button [cdkCopyToClipboard]="element.FilePath" (click)="message()" mat-icon-button
                            matTooltip="copy link">
                            <mat-icon>content_copy</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="View">
                    <mat-header-cell *matHeaderCellDef> <button mat-button matTooltip="1 level up"
                            (click)="getFiles(null,'up')">
                            <mat-icon>undo</mat-icon>
                        </button>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <button [id]="element.FileId" mat-icon-button color="" [name]="element.UpdatedFileFolderName"
                            matTooltip="delete" #button (click)="updateActive(button,element)">
                            <mat-icon aria-label="delete">delete</mat-icon>
                        </button>&nbsp;
                        <button [id]="element.FileId" mat-icon-button color="" [name]="element.UpdatedFileFolderName"
                            matTooltip="view" #view (click)="getFiles(element,'open')">
                            <mat-icon aria-label="photo">pageview</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;">
                </mat-row>
            </mat-table>

            <!-- <div class="item" fxLayout="row" fxLayoutAlign="space-between center" *ngFor="let album of Albums;">
                <div>
                    <mat-icon *ngIf="album.FileOrFolder==0">file_present</mat-icon>
                    <mat-icon *ngIf="album.FileOrFolder==1">folder_open</mat-icon>
                </div>
                <div fxFlex="26">

                </div>
                <div fxFlex="10">{{album.UploadDate|date:'dd/MM/yyyy'}}</div>
                <div fxFlex="5" *ngIf="album.FilePath.length>0">
                    <button [cdkCopyToClipboard]="album.FilePath" (click)="message()" mat-icon-button
                        matTooltip="copy link">
                        <mat-icon>content_copy</mat-icon>
                    </button>
                </div>
                <div fxFlex>

                </div>
            </div> -->

            <!-- </div>
            <div style="font-size:xx-large;">...</div> -->

        </div>
    </mat-card-content>
</mat-card>