mat-card{
    //margin-top: 100px;
    margin-left: auto;
    width: 100%;
}
mat-form-field,button{
    margin-right: 15px;
}
mat-cell:first-of-type{
    padding-left: 0px;
}
.mat-column-TeacherName,.mat-column-Remarks{
    flex:1 0 150px;
}
.mat-column-AttendanceStatus,.mat-column-Action{
    flex:1 0 100px;
}