// mat-card{
//     height:100%;
//     margin:12px;
//     min-height: 100vh;

// }
.container{
display: flex;
}
.child1{
    flex:8;
    margin-left: 0px;
    text-align: justify;
}
.child2{
    flex:2;
}
mat-card-subtitle{
    color:rgb(197, 101, 76);
}
