<div>
    <div style="padding:15px 15px 10px 15px;">
        <div><strong>Create Page</strong></div>
    </div>
    <mat-spinner *ngIf="PageLoading" diameter="25" style="position:relative;margin-left: 50%;"></mat-spinner>
    <!-- <alert></alert> -->
    <div style="padding: 15px;" fxLayout="row wrap">
        <form [formGroup]="searchForm">
            <div>
                <mat-form-field appearance="outline" [style.width.px]="200">
                    <mat-label>Title</mat-label>
                    <mat-select formControlName="searchId">
                        <mat-option *ngFor="let item of FileNames" [value]="item.RulesOrPolicyId">
                            {{item.Title}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button style="margin-right:15px;" [disabled]="loading" mat-raised-button color="accent"
                    (click)="GetRulesOrPolicy()">
                    <mat-icon>search</mat-icon>
                    <mat-icon *ngIf="loading">
                        <mat-spinner diameter="20" color="Blue"></mat-spinner>
                    </mat-icon>
                </button>
                <button [disabled]="loading" mat-raised-button color="accent" (click)="AddNew()">
                    <mat-icon>add</mat-icon>
                    <mat-icon *ngIf="loading">
                        <mat-spinner diameter="20" color="Blue"></mat-spinner>
                    </mat-icon>
                </button>
            </div>
            <mat-divider></mat-divider>
            <div style="margin-top:15px;">
                <mat-form-field appearance="outline" style="display:none">
                    <mat-label>Id</mat-label>
                    <input matInput formControlName="RulesOrPolicyId">
                </mat-form-field>
                <mat-form-field appearance="outline" [style.width.px]="200">
                    <mat-label>Title</mat-label>
                    <input matInput formControlName="Title" [maxlength]="30">
                </mat-form-field>

            </div>

            <div style="margin-bottom: 15px;">
                <quill-editor></quill-editor> 
            </div>
            <div style="display:flex">
                <div style="margin-right:15px;">
                    <mat-checkbox formControlName="Active">
                    </mat-checkbox>&nbsp; Active
                </div>
                <button [disabled]="loading" mat-raised-button color="accent" (click)="UpdateOrSave()">
                    <mat-icon>save</mat-icon>
                    <mat-icon *ngIf="loading">
                        <mat-spinner diameter="20" color="Blue"></mat-spinner>
                    </mat-icon>
                </button>
            </div>
        </form>
    </div>
</div>