<div fxLayout="row" fxLayoutAlign="space-around center">
    <mat-tab-group #changeEvent [selectedIndex]="selectedIndex" (selectedIndexChange)="tabChanged($event)">
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>info</mat-icon>Subject Types
        </ng-template>
        <app-subject-types></app-subject-types>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>info</mat-icon>Class Subject
        </ng-template>
        <app-classsubjectdashboard></app-classsubjectdashboard>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>info</mat-icon>Class Master
        </ng-template>
        <app-classmasterdashboard></app-classmasterdashboard>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>info</mat-icon>Class Subject Teacher
        </ng-template>
        <app-classsubjectteacher></app-classsubjectteacher>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>info</mat-icon>Subject Mark Components
        </ng-template>
        <app-student-subject-mark-comp></app-student-subject-mark-comp>
    </mat-tab>  
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>info</mat-icon>Assign Student Class
        </ng-template>
        <app-AssignStudentclassdashboard></app-AssignStudentclassdashboard> 
    </mat-tab>        
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>info</mat-icon>Student Subject
        </ng-template>
        <app-studentsubjectdashboard></app-studentsubjectdashboard>
    </mat-tab>
</mat-tab-group>
</div>