<div style="padding: 15px;"><strong>Student Attendance</strong></div>
<!-- <alert></alert> -->
<mat-spinner *ngIf="loading" diameter="25" style="position:relative;margin-left: 50%;"></mat-spinner>
<form [formGroup]="searchForm">
    <mat-form-field appearance="outline">
        <mat-label>Class</mat-label>
        <mat-select formControlName="searchClassId" (selectionChange)="bindClassSubject()">
            <mat-option *ngFor="let item of Classes" [value]="item.ClassId">{{item.ClassName}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Section</mat-label>
        <mat-select formControlName="searchSectionId">
            <mat-option *ngFor="let item of Sections" [value]="item.MasterDataId">{{item.MasterDataName}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Subject</mat-label>
        <mat-select formControlName="searchClassSubjectId">
            <mat-option>--select subject--</mat-option>
            <mat-option *ngFor="let item of FilteredClassSubjects" [value]="item.ClassSubjectId">{{item.ClassSubject}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Attendance Date</mat-label>
        <input formControlName="searchAttendanceDate" matInput [matDatepicker]="AttendanceDate" autocomplete="off">
        <mat-datepicker-toggle matSuffix [for]="AttendanceDate"></mat-datepicker-toggle>
        <mat-datepicker #AttendanceDate></mat-datepicker>
    </mat-form-field>
    <button [disabled]="loading" (click)="GetStudentAttendance()" class="mat-raised-button">
        <mat-icon>search</mat-icon>
    </button>
</form>
<mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="StudentRollNo">
        <mat-header-cell style="display: flex;justify-content: center;" *matHeaderCellDef>Student
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{element.StudentRollNo}}
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="AttendanceStatus">
        <mat-header-cell *matHeaderCellDef> Present&nbsp;
            <mat-checkbox *ngIf="StudentAttendanceList.length>0" matTooltip="check/uncheck all" mat-mini-fab
                (click)="$event.stopPropagation()" (change)="checkall($event)">
            </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="UpdateActive(element,$event)"
                [checked]="element.AttendanceStatus==1?true:false">
            </mat-checkbox>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Remarks">
        <mat-header-cell *matHeaderCellDef> Remarks </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <mat-form-field [style.width.px]="150">
                <textarea matInput [maxlength]="250" autocomplete="Off" (change)="onChangeEvent(element,$event)"
                    [value]="element.Remarks" [(ngModel)]="element.Remarks"></textarea>
            </mat-form-field>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Action">
        <mat-header-cell *matHeaderCellDef>
            <button [disabled]="loading || !EnableSave" *ngIf="StudentAttendanceList.length>0" matTooltip="save all"
                mat-mini-fab (click)="saveall()">
                <mat-icon>all_out</mat-icon>
            </button>
        </mat-header-cell>
        <mat-cell *matCellDef="let element" fxLayoutAlign="space-between center" fxLayout="row">
            <button [disabled]="loading || !element.Action || Permission=='read' || !EnableSave" matTooltip="view/edit"
                mat-mini-fab (click)="UpdateOrSave(element)">
                <mat-icon>save</mat-icon>
            </button>
        </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></mat-row>
</mat-table>