footer{
    display:flex;
    justify-content: center;
    padding:10px;
    color:white;
    background-color:#1E4A75;// #98bcda;
    font-size: small;
    //max-width: 81%;
}
@media screen and (max-width: 600px) {
   .bottom
    {
        max-width: 100%;
    }
  }