mat-form-field,
button {
    margin-right: 15px;
}

//mat-header-cell:first-of-type,
mat-cell:first-of-type {
    padding-left: 0px;
}
.mat-column-Action{
    flex:1 1 100px
}
.mat-column-SlotClassSubjectId{
    flex:1 1 500px
}
.mat-column-ClassName{
    flex:1 1 100px
}