<div>
    <div style="padding:15px 15px 10px 15px;">
        <div><strong>Subjects in slot</strong></div>
    </div>
    <mat-spinner *ngIf="loading" diameter="25" style="position:relative;margin-left: 50%;"></mat-spinner>
    <div style="width:auto;min-width: 1280px; overflow: auto;">
        <form [formGroup]="searchForm">
            <mat-form-field [style.width.pc]="30" appearance="outline">
                <mat-label>Exam Slot</mat-label>
                <mat-select formControlName="searchSlotId">
                    <mat-option *ngFor="let item of ExamSlots" [value]="item.SlotId">
                        {{item.SlotName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button [disabled]="loading" mat-raised-button color="accent" (click)="GetSlotNClassSubjects()">
                <mat-icon>search</mat-icon>
            </button>
        </form>
        <p>Record will be displayed if it is defined in class subject module.</p>
        <mat-divider></mat-divider>
        
        <div style="place-items: center;border-bottom:1px solid lightgray;" fxLayout="row"
            *ngFor="let row of ClassWiseSubjectDisplay; let indx=index;">
            <div style="min-width: 130px;">{{row['ClassName']}}</div>
            <div style="min-width: 900px;display:flex; flex-direction: row;padding: 10px 0px 5px 0px">
                <div *ngFor="let cell of row|keyvalue">
                    <mat-checkbox matTooltip="select {{cell.key}}"
                        *ngIf="cell.key!='ClassName' && cell.key!='Action' && cell.key!='Selected'"
                        (click)="$event.stopPropagation()" (change)="updateActive(row,$event,cell.key)"
                        [checked]="cell.value===1">
                        <div style="padding-right: 25px;">{{cell.key}}</div>
                    </mat-checkbox>
                </div>
            </div>

            <button [disabled]="loading || Permission=='read' || !row.Action" matTooltip="save" mat-mini-fab
                (click)="SaveRow(row)">
                <mat-icon>save</mat-icon>
            </button>


        </div>
    </div>
</div>