<!-- <div class="header">
</div>
<div fxLayout="row" fxLayoutAlign="center center" class="content">
       <div class="image-cropper"> <img src="../../../../assets/images/schoolbuilding2018.jfif"></div>
</div>
<div class="footer">
</div> -->

<div class="content">
    <div style="height:100px">
           
    </div>
    <div fxLayoutAlign="center center" fxLayout="row">            
        <!-- <img (click)="home()" src="../../../../assets/images/schoolbuilding2018.jfif" class="imgcls">     -->
    </div>
</div>