<mat-card>
    <mat-card-title>Global Admin</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
    <mat-card-content>
        <div style="margin:5px">
            <mat-tab-group [selectedIndex]="selectedIndex" (selectedIndexChange)="tabChanged($event)">
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon>change_history
                        </mat-icon> Features
                    </ng-template>
                    <app-menu-config></app-menu-config>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon>sell
                        </mat-icon> Pricing
                    </ng-template>
                    <app-applicationprice></app-applicationprice>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon>apps
                        </mat-icon> Customer Apps
                    </ng-template>
                    <app-customerapps></app-customerapps>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon>grid_view
                        </mat-icon>Invoice Components
                    </ng-template>
                    <app-customerinvoicecomponents></app-customerinvoicecomponents>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon>change_history
                        </mat-icon> Customer Invoice
                    </ng-template>
                    <app-customerinvoice></app-customerinvoice>
                </mat-tab>                
                     <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon>change_history
                        </mat-icon> Masters
                    </ng-template>
                    <app-add-master-data></app-add-master-data>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon>info</mat-icon>Report Config Item
                    </ng-template>
                    <app-ReportConfigItem></app-ReportConfigItem>
                </mat-tab>
                
            </mat-tab-group>
        </div>
    </mat-card-content>
</mat-card>