<div>
    <div style="padding:15px 15px 10px 15px;">
        <div><strong>Leave Balance</strong></div>
    </div>
    <mat-spinner *ngIf="PageLoading" diameter="25" style="position:relative;margin-left: 50%;"></mat-spinner>
    <!-- <alert></alert> -->
    <div style="padding: 15px;" fxLayout="row wrap">
        <div style="width: 100%;">
            <form [formGroup]="searchForm">
                <mat-form-field [style.width.pc]="25" appearance="outline">
                    <mat-label>Employee</mat-label>
                    <input type="text" matInput formControlName="searchEmployee" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                            {{option.Name}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Month Year</mat-label>
                    <mat-select formControlName="YearMonth">
                        <mat-option value="0">select</mat-option>
                        <mat-option *ngFor="let month of DropDownMonths" [value]="month['val']">{{month['MonthName']}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <button [disabled]="loading" class="mat-raised-button" (click)="GetLeaveBalance()">
                     <mat-icon>search</mat-icon>
                            <mat-icon *ngIf="loading">
                                <mat-spinner diameter="20" color="Blue"></mat-spinner>
                            </mat-icon>
                </button>
            </form>
            <mat-table #table [dataSource]="dataSource">
                
      
                <ng-container *ngFor="let disCol of displayedColumns; let colIndex = index" matColumnDef="{{disCol}}">
                    <mat-header-cell *matHeaderCellDef>{{disCol!='Action'?disCol:''}}
                        <div *ngIf="LeaveBalanceList.length>0" fxLayoutAlign="center center">
                        <button *ngIf="disCol=='Action'" [disabled]="loading || PagePermission=='read'"
                            matTooltip="save all" mat-mini-fab (click)="UpdateAll()">
                             <mat-icon>save</mat-icon>
                            <mat-icon *ngIf="loading">
                                <mat-spinner diameter="20" color="Blue"></mat-spinner>
                            </mat-icon>
                        </button>
                    </div>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element ">
                        <mat-form-field *ngIf="disCol !='Employee' && disCol !='Action'">
                            <input matInput (blur)="onBlur(element,$event)" [attr.name]="disCol" [value]="element[disCol]" [(ngModel)]="element[disCol]">
                        </mat-form-field>
                        
                        <button *ngIf="disCol=='Action'" [disabled]="loading || PagePermission=='read'"
                            matTooltip="save" 
mat-raised-button color="accent" (click)="SaveRow(element)">
                             <mat-icon>save</mat-icon>
                            <mat-icon *ngIf="loading">
                                <mat-spinner diameter="20" color="Blue"></mat-spinner>
                            </mat-icon>
                        </button>
                        {{disCol=='Employee'?element[disCol]:''}}
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></mat-row>
            </mat-table>
            <mat-paginator style="display:flex;justify-content: center;" [pageSizeOptions]="[5,20,50,100]"></mat-paginator>
        </div>

    </div>
</div>