:host{
    height:100%;
    width: 100%;
}
mat-card{
   
    margin-left: 10px;
    background-color: lightgray;// #20639b;
    color:white;
}
.container{
    margin-left: 5px;
    //height:10rem;
}
.row{
    position: relative;
    display: flex;
    margin: 10px;
    //object-position: center;
}