mat-card{
    height:100%;
    margin-left: 10px;
}
.container{
    margin-left: 5px;
    //height:10rem;
}
.row{
    position: relative;
    display: flex;
    margin: 10px;
    //object-position: center;
}