// mat-card{
//     //position: absolute;
//     margin-top: 100px;
// }
mat-form-field{
    margin-right:15px;
}
button{
    margin-right:15px;
}
.mat-column-SubjectComponent,
.mat-column-ClassSubject
{
    flex: 1 1 150px;
}
.mat-column-Action
.mat-column-Active,
.mat-column-FullMark,
.mat-column-PassMark,
.mat-column-Action{
    flex: 1 1 100px;
}