<mat-card>
    <mat-card-title>Fee Payment Detail</mat-card-title>
    <mat-card-subtitle><strong>
            Student</strong>: {{StudentName}}<br>
        <strong>Fee Type</strong>: {{studentInfoTodisplay.StudentFeeType}}
    </mat-card-subtitle>
    <mat-card-content>
        <div style="padding: 15px;" fxLayout="row wrap" fxLayoutGap="100px">
            <div style="width: 100%;">
                <alert></alert>
                <mat-tab-group [selectedIndex]="selectedIndex" (selectedIndexChange)="tabChanged($event)">
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon>payments</mat-icon>&nbsp;Payments
                        </ng-template>
                        <div fxLayout="row" fxLayoutAlign="start space-around">
                            <div style="width:50%">
                                <mat-table #table [dataSource]="dataSource">
                                    <ng-container matColumnDef="SlNo">
                                        <mat-header-cell *matHeaderCellDef> Sr.No. </mat-header-cell>
                                        <mat-cell *matCellDef="let element"> {{element.SlNo}} </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="MonthName">
                                        <mat-header-cell *matHeaderCellDef> Month </mat-header-cell>
                                        <mat-cell *matCellDef="let element">
                                            {{element.MonthName}}
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="TotalCredit">
                                        <mat-header-cell *matHeaderCellDef> Fee Amount </mat-header-cell>
                                        <mat-cell *matCellDef="let element">
                                            {{element.TotalCredit}}
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="TotalDebit">
                                        <mat-header-cell *matHeaderCellDef> Paid </mat-header-cell>
                                        <mat-cell *matCellDef="let element">
                                            {{element.TotalDebit}}
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="Balance">
                                        <mat-header-cell *matHeaderCellDef> Balance </mat-header-cell>
                                        <mat-cell *matCellDef="let element">
                                            {{element.Balance}}
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="Action">
                                        <mat-header-cell *matHeaderCellDef>Select </mat-header-cell>
                                        <mat-cell *matCellDef="let element" fxLayoutAlign="space-between center"
                                            fxLayout="row">
                                            <mat-checkbox [disabled]="loading || element.Balance==0" mat-mini-fab
                                                (change)="SelectRow(element,$event)" [checked]="element.Action">
                                            </mat-checkbox>
                                        </mat-cell>
                                    </ng-container>
                                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayedColumns;let i=index" matRipple
                                        class="element-row" [class.expanded]="expandedElement == row"></mat-row>
                                </mat-table>
                            </div>
                            <div style="background-color: lightgray;width:1px">&nbsp;</div>
                            <div style="width: 50%;">
                                <mat-table [dataSource]="billdataSource">
                                    <ng-container matColumnDef="SlNo">
                                        <mat-header-cell *matHeaderCellDef> Sr.No. </mat-header-cell>
                                        <mat-cell *matCellDef="let element"> {{element.SlNo}} </mat-cell>
                                        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="FeeName">
                                        <mat-header-cell *matHeaderCellDef> Fee </mat-header-cell>
                                        <mat-cell *matCellDef="let element"> {{element.FeeName}} </mat-cell>
                                        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="Amount">
                                        <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
                                        <mat-cell *matCellDef="let element">
                                            <mat-form-field>
                                                <input style="text-align: right" [disabled]="element.FeeName!='Admission'" matInput type="number" max="100000"
                                                    [(ngModel)]="element.Amount" [value]="element.Amount"
                                                    autocomplete="Off">
                                            </mat-form-field>
                                        </mat-cell>
                                        <mat-footer-cell *matFooterCellDef fxLayout="row" fxLayoutAlign="space-between center">
                                            <div>Balance: {{Balance}}
                                            </div>
                                            <div>Total: {{ calculateTotal() }}</div>
                                        </mat-footer-cell>
                                    </ng-container>
                                    <mat-header-row *matHeaderRowDef="billDisplayedColumns"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: billDisplayedColumns;" class="element-row">
                                    </mat-row>
                                    <mat-footer-row class="sticky-footer" *matFooterRowDef="billDisplayedColumns">
                                    </mat-footer-row>
                                </mat-table>
                                <div fxLayout="row" fxLayoutAlign="space-between center" style="padding: 15px;">
                                    <mat-form-field>
                                        <mat-label>Offline receipt no.</mat-label>
                                        <input matInput [maxlength]="20"
                                            [(ngModel)]="OffLineReceiptNo" [value]="OffLineReceiptNo"
                                            autocomplete="Off">
                                    </mat-form-field>                             
                                    <button [disabled]="loading || calculateTotal()==0" matTooltip="pay" mat-mini-fab
                                        (click)="billpayment()">
                                        <mat-icon>payments</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon>receipt</mat-icon>Receipt
                        </ng-template>
                        <app-feereceipt
                        [OffLineReceiptNo]="OffLineReceiptNo" 
                        [StudentClassFees]="StudentClassFees"
                        [StudentClass]="studentInfoTodisplay" 
                        [BillDetail]="MonthlyDueDetail"></app-feereceipt>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </mat-card-content>
</mat-card>