mat-cell,mat-footer-cell{
    border-right: 1px solid lightgray;
}
button {
    outline: none;
}

svg {
    outline: none;
}

.mat-form-field-wrapper {
    padding-bottom: 0px !important;
}

.mat-column-MonthName
{
    flex: 1 1 100px;
    padding-left: 5px;
}
.mat-column-BaseAmount {
    justify-content: center;
    flex: 1 1 70px;
}
.mat-column-TotalCredit{
    justify-content: center;
    flex:1 1 60px;
}
.mat-column-FeeName
{
    flex:1 1 300px;
    padding-left: 5px;
}
.mat-column-Amount
{
    justify-content: center;
    flex:1 1 100px;
}
.mat-column-TotalDebit,.mat-column-Balance,.mat-column-Action
{
    justify-content: center;
    flex:1 1 70px;
    
}
.mat-column-SlNo,
.mat-column-SlNo1
 {
    flex:1 1 60px;
}
.mat-table {
    overflow    : auto;
    //max-height: 500px;
}

.element-row {
    position: relative;
}

.element-row:not(.expanded) {
    cursor: pointer;
}

.element-row:not(.expanded):hover {
    background: #f5f5f5;
}

.element-row.expanded {
    border-bottom-color: transparent;
}

table {
    width        : 80%;
    padding      : 10px;
    margin-bottom: 5px;
}

td {
    padding        : 5px;
    border-collapse: collapse;
    border         : 1px solid lightgray;
    text-align     : center;
}

.mat-column-PaymentAmt {
    display        : flex;
    justify-content: flex-end;
}