<div style="width: 100%;">
    <div style="padding:15px 15px 10px 15px;">
        <div><strong>Pre-requisite</strong></div>
    </div>
    <mat-spinner *ngIf="loading" diameter="25" style="position:relative;margin-left: 50%;"></mat-spinner>
    <alert></alert>
    <div style="padding: 15px;" fxLayout="row wrap">
        <div style="width: 100%;">
            <form [formGroup]="searchForm">
                <mat-form-field appearance="outline" [style.width.pc]="25">
                    <mat-label>Class</mat-label>
                    <mat-select formControlName="searchClassId">
                        <mat-option *ngFor="let option of ClassMasters" [value]="option.ClassId">
                            {{option.ClassName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button [disabled]="loading" class="mat-raised-button" (click)="GetPrerequisites()">
                    <mat-icon>search</mat-icon>
                </button>
            </form>
            <mat-table #table [dataSource]="dataSource">
                <ng-container matColumnDef="PrerequisiteId">
                    <mat-header-cell style="display: flex;justify-content: center;" *matHeaderCellDef>Sr. No.
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">                      
                            {{element.PrerequisiteId}}                      
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Description">
                    <mat-header-cell style="display: flex;justify-content: center;" *matHeaderCellDef>Pre-requisite
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <mat-form-field appearance="outline" [style.width.px]="300">
                            <textarea matInput (blur)="onBlur(element)" [maxlength]="250" [value]="element.Description"
                                [(ngModel)]="element.Description">
                        </textarea>
                        </mat-form-field>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Active">
                    <mat-header-cell *matHeaderCellDef>Active
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <mat-checkbox (click)="$event.stopPropagation()" (change)="updateActive(element,$event)"
                            [checked]="element.Active==1?true:false">
                        </mat-checkbox>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Action">
                    <mat-header-cell *matHeaderCellDef>
                        <button [disabled]="loading" matTooltip="add new" mat-mini-fab (click)="AddNew()">
                            <mat-icon>add</mat-icon>
                        </button>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" fxLayoutAlign="space-between center" fxLayout="row">
                        <button [disabled]="loading || !element.Action" matTooltip="save" mat-mini-fab
                            (click)="UpdateOrSave(element)">
                            <mat-icon>save</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row style="width: 100%;" *matRowDef="let row; columns: displayedColumns;" class="element-row">
                </mat-row>
            </mat-table>
        </div>
    </div>
</div>