<mat-card>
    <mat-card-title>Application Users</mat-card-title>
    <!-- <div style="padding:15px 15px 0px 15px;">
        <div><strong>Application Users</strong></div>
    </div> -->
    <mat-card-content>
        <div style="padding: 15px;" fxLayout="row wrap">
            <div style="height:350px;width: 100%;">
                <div>
                    <form [formGroup]="searchForm">
                        <mat-form-field appearance="outline">
                            <mat-label>Organization</mat-label>
                            <mat-select formControlName="Organization">
                                <mat-option value="0">--select--</mat-option>
                                <mat-option *ngFor="let item of Organizations" [value]="item.MasterDataId">
                                    {{item.MasterDataName}}

                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Department</mat-label>
                            <mat-select formControlName="Department">
                                <mat-option value="0">--select--</mat-option>
                                <mat-option *ngFor="let item of Departments" [value]="item.MasterDataId">
                                    {{item.MasterDataName}}

                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Location</mat-label>
                            <mat-select formControlName="Location">
                                <mat-option value="0">--select--</mat-option>
                                <mat-option *ngFor="let item of Locations" [value]="item.MasterDataId">
                                    {{item.MasterDataName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Name</mat-label>
                            <input matInput formControlName="Name" autocomplete="off">
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="Email" autocomplete="off">
                        </mat-form-field>
                        <button class="mat-raised-button" (click)="GetAppUsers()">
                            <mat-icon>search</mat-icon>
                        </button>
                    </form>
                </div>
                <mat-table #table [dataSource]="datasource">
                    <ng-container matColumnDef="UserId">
                        <mat-header-cell *matHeaderCellDef> User Id</mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.UserId}}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="UserName">
                        <mat-header-cell *matHeaderCellDef> User </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <button mat-button (click)="expandedElement = expandedElement === element ? null : element">
                                {{element.UserName}}
                            </button>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="Email">
                        <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.Email}}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="ContactNo">
                        <mat-header-cell *matHeaderCellDef> Contact No. </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.ContactNo}}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="OrgName">
                        <mat-header-cell *matHeaderCellDef> Organization </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.OrgName}}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="Department">
                        <mat-header-cell *matHeaderCellDef> Department </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.Department}}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="Location">
                        <mat-header-cell *matHeaderCellDef> Location </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.Location}}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="ValidFrom">
                        <mat-header-cell *matHeaderCellDef> Valid From </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.ValidFrom|date:'dd/MM/yyyy'}}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="ValidTo">
                        <mat-header-cell *matHeaderCellDef> Valid To </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.ValidTo|date:'dd/MM/yyyy'}}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="Active">
                        <mat-header-cell *matHeaderCellDef> Active </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.Active}}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="Action">
                        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                        <mat-cell *matCellDef="let element" fxLayoutAlign="space-between center" fxLayout="row">
                            <button mat-mini-fab (click)="view(element)">
                                <mat-icon matTooltip="save">save</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="expandedDetail">
                        <mat-cell *matCellDef="let detail">
                            <table *ngIf="detail.element.RoleUsers.length>0">
                                <tr style="background-color: lightgray;">
                                    <td>Sl no.</td>
                                    <td>Application</td>
                                    <td>Role</td>
                                </tr>
                                <tr *ngFor="let item of detail.element.RoleUsers;let i=index">
                                    <td>{{i+1}}</td>
                                    <td>{{item.Application}}</td>
                                    <td>{{item.Role}}</td>
                                </tr>
                            </table>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row"
                        [class.expanded]="expandedElement == row"></mat-row>
                    <mat-row *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow"
                        [@detailExpand]="row.element == expandedElement ? 'expanded' : 'collapsed'"
                        style="overflow: hidden">
                    </mat-row>
                </mat-table>
            </div>
            <app-user *ngIf="UserId>0" [UserId]="UserId" (UserIdOutput)="SetUser($event)"></app-user>
        </div>
    </mat-card-content>
</mat-card>