mat-form-field{
    margin-right: 15px;
    width:98%;
}
.mat-column-FullMark,
.mat-column-PassMark,
.mat-column-Duration,
.mat-column-EvaluationMasterId{
    flex:1 1 100px;
    //justify-content: center;
}
.mat-column-ProvideCertificate,
.mat-column-DisplayResult,
.mat-column-Active
{
    flex:1 1 100px;
    justify-content: center;
}
.mat-column-Action{
    flex:1 1 120px;
}
.mat-column-EvaluationName,
.mat-column-Description
{
    flex:1 1 200px;
}