mat-form-field {
  margin-right: 15px;
  width       : 98%;
  max-width   : 250px;
}
mat-cell:first-of-type{
  padding-left: 0px;
}
button {
  margin-right: 15px;
}
// .mat-grid-title-content{
//   padding-left: 0px;
//   margin-left: 0px;
// }
::ng-deep .mat-figure {
  justify-content: left !important;
}
 