<mat-toolbar class="top">
    <mat-toolbar-row fxLayoutAlign="space-between end">
        <!-- <div> -->

        <div class="item">
            <button mat-button (click)="toggleSideBar()">
                <mat-icon *ngIf="toggle">chevron_right</mat-icon>
                <mat-icon *ngIf="!toggle">chevron_left</mat-icon>
            </button>
            <button mat-button (click)="home()">
                <span style="color:white">ST. PAUL'S INSTITUTE</span>
            </button>
        </div>
        <div class="trainup" style="font-size: medium;height: 45px;">Train up a child in the way he should go. -
            Proverbs 22:16</div>
        <div class="rightside">
            <mat-form-field>
                <mat-label>Application</mat-label>
                <mat-select formControlName="ApplicationId" fxFlex (selectionChange)="changeApplication($event)">
                    <mat-option *ngFor="let app of Applications" [value]="app.MasterDataId">
                        {{app.MasterDataName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <span>&nbsp;&nbsp;&nbsp;</span>
            <span style="font-size: small;" *ngIf="userName.length>0"> Hello,
                {{userName}}</span>
            <!-- <div *ngIf="loggedIn" style="font-size: medium;">|</div> -->
            <button mat-button (click)="newsNEvents()">
                <mat-icon>announcement</mat-icon><span style="color: white;">News & Events</span>
            </button>
            <button mat-button [matMenuTriggerFor]="contact">
                <mat-icon>contact_support</mat-icon>
            </button>
            <mat-menu #contact="matMenu">
                <button mat-menu-item (click)="contactus()">
                    <mat-icon>login</mat-icon>Contact Us
                </button>
            </mat-menu>
            <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="login">
                <mat-icon>account_circle</mat-icon>
            </button>
            <mat-menu #menu="matMenu">                
                <button mat-menu-item *ngIf="!loggedIn" (click)="gotoLogin()">
                    <mat-icon>login</mat-icon>login
                </button>
                <button mat-menu-item *ngIf="!loggedIn" (click)="createlogin()">
                    <mat-icon>create</mat-icon>Create login
                </button>
                <button mat-menu-item *ngIf="loggedIn" (click)="changepassword()">
                    <mat-icon>change_circle</mat-icon>Change password
                </button>
                <button mat-menu-item *ngIf="loggedIn" (click)="logout()">
                    <mat-icon>logout</mat-icon>logout
                </button>
            </mat-menu>
        </div>
        <!-- </div> -->
    </mat-toolbar-row>
</mat-toolbar>