:host{
    width: 100%;
    display: flex;
    justify-content: center;   
}
mat-card{
    margin: auto;
    align-self: center;
    margin-top: -150px;
    //background-color: lightgray;
    width:80%;
}
alert{
    z-index: 999;
}