mat-form-field{
    margin-right: 15px;
}
.mat-column-ClassName{
    flex: 1 1 150px;
    padding-left: 0px;
}
.mat-column-StartDate,.mat-column-EndDate{
    flex: 1 1 130px;
}
.mat-column-Sequence,.mat-column-MaxStudent,.mat-column-MinStudent,.mat-column-Active,.mat-column-StudyAreaId,.mat-column-StudyModeId,.mat-column-DurationId{
    justify-content: center;
    flex: 1 1 100px;
    //margin-right: 10px;
}
