mat-form-field{
    //margin-right: 15px;
    width:98%;
}
button{
    margin-right: 15px;
}
.mat-column-ClassName{
    flex: 1 0 150px;
    padding-left: 0px;
}
.mat-column-StartDate,.mat-column-EndDate,.mat-column-StudyAreaId,.mat-column-StudyModeId{
    flex: 1 0 135px;
}
.mat-column-MaxStudent,.mat-column-MinStudent,
.mat-column-Action,.mat-column-Confidential{
    flex: 1 0 100px;
}
.mat-column-ClassId{
    flex: 1 1 50px;
}
.mat-column-Sequence,.mat-column-DurationId,.mat-column-Active{
    justify-content: center;
    flex: 1 0 80px;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end {
    border-radius: 0px !important;
  }
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start {
    border-radius: 0px !important;
  }