<!-- <div style="margin: 15px;" fxLayout="column" fxLayoutAlign="center center">
    <strong>Class Fee definition statuses for the current batch.</strong>
    <mat-divider></mat-divider>
    <div fxLayoutGap="30px" fxLayout="row wrap" fxLayoutAlign="space-between">
        <div *ngFor="let item of ClassStatuses">{{item.class}}
            <mat-icon matTooltip="done" *ngIf="item.Done">done</mat-icon>
            <mat-icon matTooltip="pending" *ngIf="!item.Done">pending</mat-icon>
        </div>
    </div>
    <mat-divider></mat-divider>
</div> -->

<mat-card>
    <mat-card-title>Subject Mark Components</mat-card-title>
    <mat-card-subtitle>&nbsp;</mat-card-subtitle>
    <mat-card-content>
        <alert></alert>
        <form [formGroup]="searchForm">
           
            <mat-form-field appearance="outline">
                <mat-label>For Classes</mat-label>
                <mat-select formControlName="ApplyToClassId">
                    <mat-option value="0">All</mat-option>
                    <mat-option *ngFor="let p of ApplyToClasses" [value]="p.MasterDataId">
                        {{p.MasterDataName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Subject</mat-label>
                <mat-select formControlName="SubjectId" #SubjectId>
                    <mat-option value="0">All</mat-option>                    
                    <mat-option *ngFor="let p of Subjects" [value]="p.MasterDataId">
                        {{p.MasterDataName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
<!--            
            <mat-form-field appearance="outline">
                <mat-label>Batch</mat-label>
                <mat-select formControlName="ApplyToClassId" (selectionChange)="UpdateSelectedBatchId($event.value)">
                    <mat-option *ngFor="let p of Batches" [value]="p.MasterDataId">
                        {{p.MasterDataName}}
                    </mat-option>
                </mat-select>
            </mat-form-field> -->

            <button class="mat-raised-button" (click)="GetClassSubjectComponent()">
                <mat-icon>search</mat-icon>
            </button><br>
        </form>
        <div class="example-container mat-elevation-z8">
            <mat-table #table [dataSource]="dataSource" matSort>

               <ng-container matColumnDef="SubjectId" hidden>
                    <mat-header-cell *matHeaderCellDef> Subject </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <mat-form-field [style.width.px]="150">
                            <mat-select [(value)]="element.SubjectId" [(ngModel)]="element.SubjectId">
                                <mat-option value="0">--subject type--</mat-option>
                                <mat-option *ngFor="let item of Subjects" [value]="item.MasterDataId">
                                    {{item.MasterDataName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="SubjectComponentId">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Subject Component </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <mat-form-field [style.width.px]="150">
                            <mat-select [(value)]="element.SubjectComponentId" [(ngModel)]="element.SubjectComponentId">
                                <mat-option value="0">--component--</mat-option>
                                <mat-option *ngFor="let item of MarkComponents" [value]="item.MasterDataId">
                                    {{item.MasterDataName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="ApplyToClass">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> For Classes </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <mat-form-field [style.width.px]="150">
                            <mat-select [(value)]="element.ApplyToClass" [(ngModel)]="element.ApplyToClass">
                                <mat-option value="0">--apply to--</mat-option>
                                <mat-option *ngFor="let item of ApplyToClasses" [value]="item.MasterDataId">
                                    {{item.MasterDataName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="FullMark">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Full Mark </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <input matInput type="number" maxlength="3" [(value)]="element.FullMark" [(ngModel)]="element.FullMark" />
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="PassMark">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Pass Mark </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <input matInput type="number" maxlength="3" [(value)]="element.PassMark" [(ngModel)]="element.PassMark" />
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Active">
                    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <mat-checkbox (click)="$event.stopPropagation()" (change)="updateActive(element,$event)"
                        [checked]="element.Active">
                    </mat-checkbox>
                        <!-- <mat-checkbox [checked]="element.Active==1?true:false" [(value)]="element.Active" (click)="updateActive(element,$event)">
                        </mat-checkbox> -->
                    </mat-cell>
                </ng-container>     
                <ng-container matColumnDef="Action">
                    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <button [(disabled)]="!element.Action" mat-mini-fab (click)="UpdateOrSave(element)">
                            <mat-icon>save</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </div>
    </mat-card-content>
</mat-card>