<mat-card>
    <mat-card-title>Sign up</mat-card-title>
    <mat-card-content>
        <alert></alert>
        <div fxLayout="row wrap" fxLayoutAlign="space-around center" fxLayout.xs="column" fxLayoutGap="50px">
            <form [formGroup]="AppRoleUserForm">
                <mat-form-field appearance="outline">
                    <mat-label>User</mat-label>
                    <mat-select formControlName="UserId" #UserId>
                        <mat-option value="0">---</mat-option>
                        <mat-option *ngFor="let p of Users" [value]="p.ApplicationUserId">
                            {{p.UserName}}
                        </mat-option>
                    </mat-select>
                    <span class="text-danger" *ngIf="f.UserId.touched && f.UserId.hasError('required')">Role is
                        required.</span>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Application</mat-label>
                    <mat-select formControlName="ApplicationId" #ApplicationId>
                        <mat-option value="0">---</mat-option>
                        <mat-option *ngFor="let p of Applications" [value]="p.MasterDataId">
                            {{p.MasterDataName}}
                        </mat-option>
                    </mat-select>
                    <span class="text-danger" *ngIf="f.ApplicationId.touched && f.ApplicationId.hasError('required')">Application is
                        required.</span>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Role</mat-label>
                    <mat-select formControlName="RoleId" #RoleId>
                        <mat-option value="0">---</mat-option>
                        <mat-option *ngFor="let p of Roles" [value]="p.MasterDataId">
                            {{p.MasterDataName}}
                        </mat-option>
                    </mat-select>
                    <span class="text-danger" *ngIf="f.RoleId.touched && f.RoleId.hasError('required')">Role is
                        required.</span>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Valid From</mat-label>
                    <input formControlName="ValidFrom" matInput [matDatepicker]="ValidFrom" autocomplete="off">
                    <mat-datepicker-toggle matSuffix [for]="ValidFrom"></mat-datepicker-toggle>
                    <mat-datepicker #ValidFrom></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Valid To</mat-label>
                    <input formControlName="ValidTo" matInput [matDatepicker]="ValidTo" autocomplete="off">
                    <mat-datepicker-toggle matSuffix [for]="ValidTo"></mat-datepicker-toggle>
                    <mat-datepicker #ValidTo></mat-datepicker>
                </mat-form-field>
                <mat-checkbox formControlName="Active">
                </mat-checkbox>&nbsp; Active
            </form>
        </div>
    </mat-card-content>
    <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
        <button class="mat-raised-button" (click)="UpdateOrSave()">
            <mat-icon>save</mat-icon>
        </button>
        <button class="mat-raised-button" (click)="back()">
            <mat-icon>cancel</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>