<div class="container">
    <div style="padding:15px 15px 0px 15px;">
        <div><strong>Subject Results</strong></div>
    </div>
    <mat-spinner *ngIf="loading" diameter="25" style="position:relative;margin-left: 50%;"></mat-spinner>
    <alert></alert>
    <div style="padding: 15px;" fxLayout="row wrap">
        <div style="width: 100%;">
            <form [formGroup]="searchForm">
                <mat-form-field appearance="outline">
                    <mat-label>Exam</mat-label>
                    <mat-select formControlName="searchExamId">
                        <mat-option *ngFor="let item of Exams" [value]="item.ExamId">
                            {{item.ExamName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Class</mat-label>
                    <mat-select formControlName="searchClassId">
                        <mat-option [value]="0">--class--</mat-option>
                        <mat-option *ngFor="let item of Classes" [value]="item.MasterDataId">
                            {{item.MasterDataName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Subject</mat-label>
                    <mat-select formControlName="searchSubjectId">
                        <mat-option [value]="0">--subject--</mat-option>
                        <mat-option *ngFor="let item of Subjects" [value]="item.MasterDataId">
                            {{item.MasterDataName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button [disabled]="loading" class="mat-raised-button" (click)="GetExamStudentSubjectResults()">
                    <mat-icon>search</mat-icon>
                </button>
                <!-- <button [disabled]="loading" matTooltip="clear all" class="mat-raised-button" (click)="clear()">
                    <mat-icon>clear_all</mat-icon>
                </button> -->
            </form>
            <mat-table #table [dataSource]="dataSource">                
                <ng-container matColumnDef="StudentClassSubject">
                    <mat-header-cell style="display: flex;justify-content: center;" *matHeaderCellDef>Class Rollno Subject
                    </mat-header-cell>
                    <mat-cell style="display: flex;" *matCellDef="let element">
                        {{element.StudentClassSubject}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="SubjectMarkComponent">
                    <mat-header-cell style="display: flex;justify-content: center;" *matHeaderCellDef>Mark Component
                    </mat-header-cell>
                    <mat-cell style="display: flex;" *matCellDef="let element">
                        {{element.SubjectMarkComponent}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Marks">
                    <mat-header-cell style="display: flex;justify-content: center;" *matHeaderCellDef>Mark Obtained
                    </mat-header-cell>
                    <mat-cell style="display: flex;justify-content: right;" *matCellDef="let element">
                        <mat-form-field>
                            <input type="number" matInput [(value)]="element.Marks" [(ngModel)]="element.Marks" />
                        </mat-form-field>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="ExamStatus">
                    <mat-header-cell style="display: flex;justify-content: center;" *matHeaderCellDef>Status
                    </mat-header-cell>
                    <mat-cell style="display: flex;justify-content: right;" *matCellDef="let element">
                        <mat-form-field [style.width.px]="80">
                            <mat-select [(value)]="element.ExamStatus" [(ngModel)]="element.ExamStatus">
                                <mat-option value="0">--status--</mat-option>
                                <mat-option *ngFor="let item of ExamStatuses" [value]="item.MasterDataId">
                                    {{item.MasterDataName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Active">
                    <mat-header-cell *matHeaderCellDef>
                        <mat-checkbox *ngIf="ExamStudentSubjectResult.length>0" (click)="$event.stopPropagation()"
                            (change)="checkall($event)">
                        </mat-checkbox>&nbsp;Active
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <mat-checkbox (click)="$event.stopPropagation()" (change)="updateActive(element,$event)"
                            [checked]="element.Active==1?true:false">
                        </mat-checkbox>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Action">
                    <mat-header-cell *matHeaderCellDef>
                        <button [disabled]="loading" *ngIf="ExamStudentSubjectResult.length>0" matTooltip="save all" mat-mini-fab
                            (click)="saveall()">
                            <mat-icon>all_out</mat-icon>
                        </button>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" fxLayoutAlign="space-between center" fxLayout="row">
                        <button [disabled]="loading" [disabled]="!element.Action" matTooltip="view/edit" mat-mini-fab
                            (click)="UpdateOrSave(element)">
                            <mat-icon>save</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></mat-row>
            </mat-table>
        </div>

    </div>
</div>