
<img src="../../../assets/images/25years.png" width="100%" class="img"/>
<mat-card>
    <mat-card-title><span class="title">{{PageTitle}}</span>
    </mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
    <mat-card-content>
        
       
        <div class="contentbox">            
            <div class="newsitemblock" [tabindex]="i" fxLayout="row" fxLayoutAlign="start start" *ngFor="let element of AllData;let i=index">
                <img src="../../../assets/images/icons8-vote.svg" style="margin-top:8px;" />
                <a class="subtitle" style="text-decoration:none;color:rgb(201, 200, 200)" (click)="view(element)">
                    <div>{{element.Title}}
                        <br><span style="color:rgb(201, 200, 200,.9);font-size: small;">
                            {{element.UpdateDate|date:'dd/MM/yyyy'}}</span>
                    </div>
                </a>
                <!-- <mat-divider></mat-divider> -->
            </div>
            
        </div>
      
        <mat-divider></mat-divider>


        <!-- <mat-paginator *ngIf="AllData.length>0" style="color:rgb(201, 200, 200);background-color:var(--maincolor1);" [pageSizeOptions]="[10, 25, 100]">
        </mat-paginator> -->

    </mat-card-content>
    <mat-card-actions style="padding: 0px;">
        <button style="margin:10px 30px;" *ngIf="AllData.length>4" class="mat-raised-button"
            (click)="allnews()">
            All news & events
        </button>
    </mat-card-actions>
</mat-card>
