:host{
  border-radius: 1em;
  //padding: 15px;
  width: 100%;
}
mat-card{
  background-color: #1E4A75;
  border-radius: 1em;
  margin-top: 10px;
  //padding-top: 20px;
}
.mat-badge-content {
  width      : 30px;
  height     : 30px;
  line-height: 30px;
}

table {
  width: 100%;
}

button {
  margin-right: 15px;
}

.subtitle{
  //color:gray;
  //margin-bottom: 5px;
  // margin-top: 5px;
  // margin-bottom: 5px;
  padding: 3px;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  width              : 300px;
  border-bottom-width: 0px;
}

a:hover {
  cursor: pointer;
}

.container {
  display: flex;
}

.child1 {
  color: white;
}

.child2 {
  flex: 2;
}