.mat-form-field{
    margin-right: 15px;
}
// mat-cell{
//     //display:flex;
//     justify-content: center;
   
//   }
.mat-column-Active,.mat-column-MinCount,.mat-column-MinPrice,.mat-column-PCPM,.mat-column-CurrencyId{
    width: 5% !important;  
}
.mat-column-Description{
    flex: 1 1 20%;
}

// .mat-column-Active{
//     flex:1 1 8%;
// }