.mat-form-field{
    margin-right: 15px;
    width:98%;
}
.mat-column-LoginUserCount,
.mat-column-PersonOrItemCount,
.mat-column-Active,
.mat-column-MinCount,
.mat-column-MinPrice,
.mat-column-PCPM,
.mat-column-AmountPerMonth
{
    flex:0 0 100px;
}
.mat-column-Formula{
    flex: 0 0 200px;
}
