:host{
    width: 78%;
}
mat-form-field{
    margin-right: 5px;
}
input:hover{
    cursor: inherit;
}
.mat-icon {
    vertical-align: middle;
 }
 button{
     height: 40px;
     //width: 80px;
     margin-top: 5px;
 }
 mat-card {
    overflow: auto;
    //background-color: #3171a5;
  //  margin-left: -2px;
    //padding: 20px;

  }