
mat-form-field{
    margin-right: 5px;
}
input:hover{
    cursor: inherit;
}
// input{
//     width: 500px;
// }
// mat-card{
//     height: 100%;
// }
.mat-icon {
    vertical-align: middle;
 }
 button{
     height: 40px;
     //width: 80px;
     margin-top: 5px;
 }
