<div>
    <div style="padding:15px 15px 10px 15px;">
        <div><strong>Report Columns</strong></div>
    </div>
    <mat-spinner *ngIf="loading" diameter="25" style="position:relative;margin-left: 50%;"></mat-spinner>
    <alert></alert>
    <div style="padding: 15px;" fxLayout="row wrap">
        <div style="width: 100%;">
            <form [formGroup]="searchForm" fxLayout="row" fxLayoutAlign="space-between center">
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Report Type</mat-label>
                        <mat-select formControlName="searchReportTypeId">
                            <mat-option *ngFor="let item of ReportTypes" [value]="item.ReportConfigDataId">
                                {{item.ReportName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Report Name</mat-label>
                        <mat-select formControlName="searchReportNameId">
                            <mat-option *ngFor="let item of ReportTypes" [value]="item.ReportConfigDataId">
                                {{item.ReportName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <button [disabled]="loading" matTooltip="search" class="mat-raised-button"
                        (click)="GetOrgReportColumns()">
                        <mat-icon>search</mat-icon>
                    </button>
                </div>
            </form>
            <mat-table #table [dataSource]="dataSource">
                <ng-container matColumnDef="ColumnDisplayName">
                    <mat-header-cell *matHeaderCellDef>Label Name
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <mat-form-field appearance="outline">
                            <input [(ngModel)]="element.ColumnDisplayName" [value]="element.ColumnDisplayName" matInput
                                autocomplete="off" [maxlength]="50">
                        </mat-form-field>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="FormulaOrColumnName">
                    <mat-header-cell *matHeaderCellDef>Formula Or Label Name
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <mat-form-field appearance="outline">
                            <textarea [(ngModel)]="element.FormulaOrColumnName" [value]="element.FormulaOrColumnName"
                                matInput autocomplete="off" [maxlength]="1000"><textarea>
                        </mat-form-field>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Sequence">
                    <mat-header-cell *matHeaderCellDef>Sequence
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <mat-form-field appearance="outline">
                            <input type="number" [(ngModel)]="element.Sequence" [value]="element.Sequence" matInput
                                autocomplete="off" [maxlength]="50">
                        </mat-form-field>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Active">
                    <mat-header-cell *matHeaderCellDef> Active </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <mat-checkbox (click)="$event.stopPropagation()" (change)="updateActive(element,$event)"
                            [checked]="element.Active==1?true:false">
                        </mat-checkbox>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Action">
                    <mat-header-cell *matHeaderCellDef>
                        <button [disabled]="loading" matTooltip="add new" mat-mini-fab (click)="addnew()">
                            <mat-icon>add</mat-icon>
                        </button>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" fxLayoutAlign="space-between center" fxLayout="row">
                        <button [disabled]="loading" matTooltip="save" mat-mini-fab (click)="UpdateOrSave(element)">
                            <mat-icon>save</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></mat-row>
            </mat-table>
        </div>
    </div>
</div>
