mat-form-field{
    margin-right: 20px;
}
mat-radio-button{
    margin-right: 10px;
}
.radio{
    color:rgb(122, 121, 121);
    //width:20%;
    border-collapse: collapse;
    border-radius: 5px;
    padding: 5px;
    //height: 60px;
    border: solid #eee;    
    border-width: 1px 1px;
    display: grid;
    place-items: center;
    margin-bottom: 10px;
    width: 250px;
    
}
.demo-tab-group {
    border: 1px solid #e8e8e8;
  }
  
  .demo-tab-content {
    padding: 16px;
  }