mat-form-field{
    margin-right: 20px;
}
mat-radio-button{
    margin-right: 10px;
}
.radio{
    color:rgb(122, 121, 121);
    width:20%;
    border-collapse: collapse;
    border-radius: 5px;
    padding: 5px;
    //height: 60px;
    border: solid #eee;    
    border-width: 1 1px;
    display: grid;
    place-items: center;
    margin-bottom: 10px;
    
}
// button{
//     margin: 20px;
// }