.item {
    border        : 1px thin gray;
    //border-color:gray;
}

.highlight {
    background-color: lightgray;
}

.boxes {
    border-collapse : collapse;
    border          : 1px solid lightgrey;
    background-color: lightgray;
    padding         : 15px;
    margin          : 15px 15px 15px 0px;
}

.Header {
    height     : 40px;
    margin-left: 15px;
}
table {
    border-collapse: collapse;
}

div {
    margin-right: 5px;
}

// mat-checkbox {
//     margin-right: 15px;
// }

button {
    //   margin : 5px;
    outline: none;
}
// mat-cell:first-of-type{
//     padding-left: 0px;
// }
mat-form-field {
    margin-right: 5px;
    width: 98%;
}
// .mat-table{
//     min-width:960px;
// }
.mat-column-ParentId,.mat-column-Description{
    flex:1 1 180px;
}
.mat-column-MasterDataName,.mat-column-Logic {
    flex:1 1 220px;
}
.mat-column-Active{
    
    justify-content: center;
    flex:1 1 100px;
}
.mat-column-Action{
    justify-content: center;
    flex:1 1 120px;
}
.mat-column-Sequence,.mat-column-MasterDataId {
    flex:1 1 70px;
}

// mat-cell:first-of-type{
//     padding-left: 0px;
// }