.item {
    border        : 1px thin gray;
    //border-color:gray;
}

.highlight {
    background-color: lightgray;
}

app-edit-input {
    display       : inline-block;
    vertical-align: baseline;
    width         : 300px;
    height        : 30px;
    margin        : 5px;
    //padding: 5px;
}

.boxes {
    border-collapse : collapse;
    border          : 1px solid lightgrey;
    background-color: lightgray;
    padding         : 15px;
    margin          : 15px;
}

.Header {
    height     : 40px;
    //min-width: 300px;
    margin-left: 15px;

}

table {
    border-collapse: collapse;
}

div {
    margin-right: 5px;
}

mat-checkbox {
    margin-right: 15px;
}

button {
    //   margin : 5px;
    outline: none;
}

mat-form-field {
    margin-right: 5px;
}
.mat-column-Description {
    flex: 1 0 25%;
}
.mat-column-Logic {
    flex: 1 0 20%;
}
.mat-column-Sequence,
.mat-column-Active {
    flex: 1 0 50;
}
.mat-column-MasterDataName {
    flex: 1 0 10%;
}
// mat-cell:first-of-type{
//     padding-left: 0px;
// }