<div>
    <div style="padding:15px 15px 10px 15px;">
        <div><strong>Teacher Period</strong></div>
    </div>
    <mat-spinner *ngIf="PageLoading" diameter="25" style="position:relative;margin-left: 50%;"></mat-spinner>
    <!-- <alert></alert> -->
    <!-- <div style="padding: 15px;" fxLayout="row wrap"> -->
    <div style="width: 100%;">
        <form [formGroup]="searchForm" fxLayout="row" fxLayoutAlign="space-between center">
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Teacher</mat-label>
                    <mat-select formControlName="searchEmployeeId">
                        <mat-option value="0">select</mat-option>
                        <mat-option *ngFor="let option of Teachers" [value]="option.TeacherId">
                            {{option.TeacherName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                
                <button [disabled]="loading" matTooltip="search" mat-raised-button color="accent"
                    (click)="GetSchoolTimeTable()">
                    <mat-icon>search</mat-icon>
                    <mat-icon *ngIf="loading">
                        <mat-spinner diameter="20" color="Blue"></mat-spinner>
                    </mat-icon>
                </button>
            </div>
        </form>
        <!-- <mat-table [dataSource]="dataSourceDayStatistic" matSort *ngIf="DayStatisticDisplay.length>1">
            <ng-container *ngFor="let disCol of DayStatisticDisplay; let colIndex = index" matColumnDef="{{disCol}}">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <div *ngIf="disCol!='FirstCol' && disCol!='TeacherName'">{{disCol}}
                    </div>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <div *ngIf="disCol!='TeacherName'" style="text-align:center;width:100%">{{element[disCol]}}</div>
                    <div *ngIf="disCol=='TeacherName'">{{element[disCol]}}</div>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="DayStatisticDisplay"></mat-header-row>
            <mat-row *matRowDef="let row; columns: DayStatisticDisplay;" class="element-row"></mat-row>
        </mat-table> -->
        <div>
            <mat-table [dataSource]="dataSourcePeriodStatistic" style="margin-bottom: 15px;">
                <ng-container *ngFor="let disCol of PeriodStatisticDisplay;" matColumnDef="{{disCol}}">
                    <mat-header-cell *matHeaderCellDef>
                        <div *ngIf="disCol!='TeacherName'">
                            <div style="display:flex;justify-content:center">{{disCol}}</div>
                        </div>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <!-- <div *ngIf="disCol=='TeacherName'"> {{element[disCol]}}
                        </div>
                        <div *ngIf="disCol!='TeacherName' && element[disCol]>1"
                            style="font-weight:bold;color:red;text-align:center;width:100%"> {{element[disCol]}}
                        </div>
                        <div *ngIf="disCol!='TeacherName' && (disCol =='Day' || element[disCol]<=1)"
                            style="text-align:center;width:100%"> {{element[disCol]}}
                        </div> -->
                        {{element[disCol]}}
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="PeriodStatisticDisplay"></mat-header-row>
                <mat-row *matRowDef="let row; columns: PeriodStatisticDisplay;" class="element-row"></mat-row>
            </mat-table>
        </div>
        <!-- <div style="overflow: auto;height: 430px; width: auto;">
            <mat-table #table [dataSource]="dataSource">
                <ng-container *ngFor="let disCol of displayedColumns; let colIndex = index" matColumnDef="{{disCol}}">
                    <mat-header-cell *matHeaderCellDef>
                        <span
                            style="padding-left: 10px;">{{disCol=='Action'?'':disCol.includes('f_')?(disCol|slice:2):disCol}}</span>
                        <div *ngIf="SchoolTimeTableList.length>0">
                            <button *ngIf="disCol=='Action'" [disabled]="loading || Permission=='read'"
                                matTooltip="save all" mat-mini-fab (click)="SaveAll()">
                                <mat-icon>all_out</mat-icon>
                                <mat-icon *ngIf="loading">
                                    <mat-spinner diameter="20" color="Blue"></mat-spinner>
                                </mat-icon>
                            </button>
                        </div>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element"
                        [ngStyle]="{'justify-content': disCol == 'Day'?'left' : 'center' }">
                        <span *ngIf="disCol !='Day' && !disCol.includes('f_') && disCol !='Action'">
                            <mat-form-field style="width:135px;">
                                <mat-select (selectionChange)="onBlur(element,$event,disCol)"
                                    [(ngModel)]="element[disCol]" [value]="element[disCol]">
                                    <mat-option *ngFor="let item of ClassWiseSubjects" [value]="item.TeacherSubjectId">
                                        {{item.SubjectName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </span>
                        <button *ngIf="disCol=='Action'"
                            [disabled]="loading || !element['Action'] || Permission=='read'" matTooltip="save"
                            mat-mini-fab (click)="SaveRow(element)">
                            <mat-icon>save</mat-icon>
                            <mat-icon *ngIf="loading">
                                <mat-spinner diameter="20" color="Blue"></mat-spinner>
                            </mat-icon>
                        </button>
                        <span style="margin-right: 15px;">{{ disCol.includes('f_')?(disCol|slice:2):disCol
                            =='Day'?element[disCol]:''}}</span>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" style="min-height: 40px;"></mat-row>
            </mat-table>
        </div> -->
    </div>
</div>
<!-- </div> -->