<div>
    <div style="padding:15px 15px 10px 15px;">
        <div style="padding: 15px;"><strong>Teacher Period</strong></div>
        <mat-spinner *ngIf="PageLoading" diameter="25" style="position:relative;margin-left: 50%;"></mat-spinner>
        <!-- <alert></alert> -->
        <form [formGroup]="searchForm">
            <mat-form-field appearance="outline">
                <mat-label>Teacher</mat-label>
                <mat-select formControlName="searchEmployeeId" (selectionChange)="GetSelectedClassSubjects()">
                    <mat-option value="0">select</mat-option>
                    <mat-option *ngFor="let option of Teachers" [value]="option.TeacherId">
                        {{option.TeacherName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Class</mat-label>
                <mat-select formControlName="searchClassId" (selectionChange)="GetSelectedClassSubjects()">
                    <mat-option value="0">select</mat-option>
                    <mat-option *ngFor="let item of Classes" [value]="item.ClassId">
                        {{item.ClassName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button [disabled]="loading" mat-raised-button color="accent" (click)="GetTeacherPeriod()">
                <mat-icon>search</mat-icon>
                <mat-icon *ngIf="loading">
                    <mat-spinner diameter="20" color="Blue"></mat-spinner>
                </mat-icon>
            </button>
        </form>
        <mat-table #table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="TeacherPeriodId">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    Id
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{element.TeacherPeriodId}}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="EmployeeId">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    Teacher
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <mat-form-field appearance="outline">
                        <mat-label>Teacher</mat-label>
                        <mat-select (selectionChange)="onBlur(element)" [(ngModel)]="element.EmployeeId"
                            [value]="element.EmployeeId">                      
                            <mat-option *ngFor="let option of Teachers" [value]="option.TeacherId">
                                {{option.TeacherName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="SchoolClassPeriodId">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    Class Period
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <mat-form-field appearance="outline">
                        <mat-label>Class Period</mat-label>
                        <mat-select (selectionChange)="onBlur(element)" [(ngModel)]="element.SchoolClassPeriodId"
                            [value]="element.SchoolClassPeriodId">
                            <mat-option value="0">select</mat-option>
                            <mat-option *ngFor="let option of TempClassSubject" [value]="option.ClassSubjectId">
                                {{option.ClassSubject}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="TeacherSubjectId">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    Teacher Subject
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <mat-form-field appearance="outline">
                        <mat-label>Class Subject</mat-label>
                        <mat-select (selectionChange)="onBlur(element)" [(ngModel)]="element.TeacherSubjectId"
                            [value]="element.TeacherSubjectId">
                            <mat-option value="0">select</mat-option>
                            <mat-option *ngFor="let option of TempClassSubject" [value]="option.ClassSubjectId">
                                {{option.ClassSubject}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-cell>
            </ng-container>            
            <ng-container matColumnDef="OffPeriod">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Off Period </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <mat-checkbox *ngIf="TeacherPeriodList.length>0" (click)="$event.stopPropagation()"
                        (change)="updateActive(element,$event)" [checked]="element.OffPeriod">
                    </mat-checkbox>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Active">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Active </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <mat-checkbox *ngIf="TeacherPeriodList.length>0" (click)="$event.stopPropagation()"
                        (change)="updateActive(element,$event)" [checked]="element.Active==1?true:false">
                    </mat-checkbox>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Action">
                <mat-header-cell *matHeaderCellDef>
                    <button [disabled]="loading || Permission=='read'" matTooltip="add new" mat-mini-fab
                        (click)="addnew()">
                        <mat-icon>add</mat-icon>
                    </button>&nbsp;
                    <button [disabled]="loading || Permission=='read'" matTooltip="save all" mat-mini-fab
                        (click)="SaveAll()">
                        <mat-icon>all_out</mat-icon>
                        <mat-icon *ngIf="loading">
                            <mat-spinner diameter="20" color="Blue"></mat-spinner>
                        </mat-icon>
                    </button>
                </mat-header-cell>
                <mat-cell *matCellDef="let element" fxLayoutAlign="space-between center" fxLayout="row">
                    <button [disabled]="loading || !element.Action || Permission=='read'" matTooltip="save"
                        mat-raised-button color="accent" (click)="UpdateOrSave(element)">
                        <mat-icon>save</mat-icon>
                        <mat-icon *ngIf="loading">
                            <mat-spinner diameter="20" color="Blue"></mat-spinner>
                        </mat-icon>
                    </button>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" style="display:flex;align-items: baseline;">
            </mat-row>
        </mat-table>
        <mat-paginator style="display: flex;justify-content: center;" [pageSizeOptions]="[5,10,25,100]"></mat-paginator>
    </div>
</div>