// .Container{
//  box-shadow: 5px 10px grey;
// }
mat-form-field{
    margin-right: 20px;
}
button{
    padding:5px;
}  
 .mat-column-ApplicationUserId{
   flex:0 0 8%;
}
// .mat-column-EmailAddress{
//     flex:0 0 20%;
// }

// .mat-column-UserName{
//     flex:0 0 20%;
// }
// .mat-column-ValidFrom{
//     flex:0 0 15%;
// }
// .mat-column-ValidTo{
//     flex:0 0 15%;
// }
.mat-column-Active,.mat-column-UserName,.mat-column-EmailAddress,.mat-column-ContactNo,.mat-column-ValidFrom,.mat-column-ValidTo{
    display: grid;
    place-items: center start;
    margin-right: 15px;
}
