// .Container{
//  box-shadow: 5px 10px grey;
// }
.mat-form-field{
    margin-right: 10px;
    width: 99%;
}
button{
    padding:5px;
}  
 .mat-column-ApplicationUserId{
   flex:0 0 8%;
}
// .mat-column-EmailAddress{
//     flex:0 0 20%;
// }

// .mat-column-UserName{
//     flex:0 0 20%;
// }
.mat-column-ValidFrom,.mat-column-ValidTo{
    flex:0 0 130px;
}
.mat-column-UserName,.mat-column-EmailAddress{
    flex:0 0 250px;
}
// .mat-column-Active,.mat-column-UserName,.mat-column-EmailAddress,.mat-column-ContactNo,.mat-column-ValidFrom,.mat-column-ValidTo{
//     margin-right: 15px;
// }
