// .Container{
//  box-shadow: 5px 10px grey;
// }
.mat-form-field{
    margin-right: 10px;
    width: 98%;
}
button{
    padding:5px;
}  
 .mat-column-ApplicationUserId{
   flex:0 0 70px;
}
.mat-column-Active{
    justify-content: center;
    flex:0 0 100px
}
.mat-column-ValidFrom,.mat-column-ValidTo{
    flex:0 0 140px;
}
.mat-column-UserName,.mat-column-EmailAddress{
    flex:0 0 250px;
}
// .mat-column-Active,.mat-column-UserName,.mat-column-EmailAddress,.mat-column-ContactNo,.mat-column-ValidFrom,.mat-column-ValidTo{
//     margin-right: 15px;
// }
